[2014-10-31 14:09] skrchnavy opened #1 "sto_1: Login into ODN"
see [sto_1: Login into ODN](https://utopia.sk/wiki/display/ODN/sto_1%3A+Login+into+ODN)

[2014-10-31 14:18] skrchnavy opened #2 "sto_2: New catalog record in catalog"
[sto_2: New catalog record in catalog](https://utopia.sk/wiki/display/ODN/sto_2%3A+New+catalog+record+in+catalog)

[2014-11-04 11:28] skrchnavy opened #3 "sto_8: Modification of dataset metadata"
[sto_8: Modification of dataset metadata](https://utopia.sk/wiki/display/ODN/sto_8%3A+Modification+of+dataset+metadata)

[2014-11-04 11:40] skrchnavy opened #4 "sto_47: Associate an existing non-associated pipeline"
[sto_47: Associate an existing non-associated pipeline](https://utopia.sk/wiki/display/ODN/sto_47%3A+Associate+an+existing+non-associated+pipeline)

[2014-11-05 15:58] skrchnavy opened #5 "sto_13: Catalog records browser"
[sto_13: Catalog records browser](https://utopia.sk/wiki/display/ODN/sto_13%3A+Catalog+records+browser)

[2014-11-05 16:41] skrchnavy opened #6 "sto_14: Catalog records search using keywords"
[sto_14: Catalog records search using keywords](https://utopia.sk/wiki/display/ODN/sto_14%3A+Catalog+records+search+using+keywords)

[2014-11-05 16:51] skrchnavy opened #7 "sto_16: Catalog records filtering"
[sto_16: Catalog records filtering](https://utopia.sk/wiki/display/ODN/sto_16%3A+Catalog+records+filtering)

[2014-11-05 17:05] skrchnavy opened #8 "sto_20: Publicly available catalog record browser"
[sto_20: Publicly available catalog record browser](https://utopia.sk/wiki/display/ODN/sto_20%3A+Publicly+available+catalog+record+browser)

[2014-11-05 17:11] skrchnavy opened #9 "sto_21: Publicly available catalog records search using keywords"
[sto_21: Publicly available catalog records search using keywords](https://utopia.sk/wiki/display/ODN/sto_21%3A+Publicly+available+catalog+records+search+using+keywords)

[2014-11-05 17:25] skrchnavy opened #10 "sto_23: Publicly available catalog records filtering"
[sto_23: Publicly available catalog records filtering](https://utopia.sk/wiki/display/ODN/sto_23%3A+Publicly+available+catalog+records+filtering)

[2014-11-13 13:24] skrchnavy opened #11 "sto_52: ODN installation"
[sto_52: ODN installation](https://utopia.sk/wiki/display/ODN/sto_52%3A+ODN+installation)

[2014-11-13 14:26] skrchnavy opened #12 "sto_17: List of available resources for a dataset"
[sto_17: List of available resources for a dataset](https://utopia.sk/wiki/display/ODN/sto_17%3A+List+of+available+resources+for+a+dataset)

[2014-11-13 14:50] skrchnavy opened #13 "sto_27: List of available resources for a public dataset"
[sto_27: List of available resources for a public dataset](https://utopia.sk/wiki/display/ODN/sto_27%3A+List+of+available+resources+for+a+public+dataset)

[2014-11-13 15:04] skrchnavy opened #14 "sto_18: Download latest version of file dump"
[sto_18: Download latest version of file dump](https://utopia.sk/wiki/display/ODN/sto_18%3A+Download+latest+version+of+file+dump)

[2014-11-13 15:05] skrchnavy opened #15 "sto_28: Download latest version of public dataset file dump"
[sto_28: Download latest version of public dataset file dump](https://utopia.sk/wiki/display/ODN/sto_28%3A+Download+latest+version+of+public+dataset+file+dump)

[2014-11-13 15:19] skrchnavy opened #16 "sto_3: New associated pipeline created manually"
[sto_3: New associated pipeline created manually](https://utopia.sk/wiki/display/ODN/sto_3%3A+New+associated+pipeline+created+manually)

[2014-11-13 16:17] skrchnavy opened #17 "sto_25: Social media sharing"
[sto_25: Social media sharing](https://utopia.sk/wiki/display/ODN/sto_25%3A+Social+media+sharing)

[2014-11-13 16:22] skrchnavy opened #18 "sto_6: Modification of an associated pipeline manually"
[sto_6: Modification of an associated pipeline manually](https://utopia.sk/wiki/display/ODN/sto_6%3A+Modification+of+an+associated+pipeline+manually)

[2014-11-13 16:26] skrchnavy opened #19 "sto_50: Dataset resource(s) created/updated automatically when data processing done"
[sto_50: Dataset resource(s) created/updated automatically when data processing done](https://utopia.sk/wiki/pages/viewpage.action?pageId=49906215)

[2014-11-14 15:28] skrchnavy opened #20 "sto_53: Last publication status of a pipeline"
[sto_53: Last publication status of a pipeline](https://utopia.sk/wiki/display/ODN/sto_53%3A+Last+publication+status+of+a+pipeline)

[2014-11-14 15:31] skrchnavy opened #21 "sto_10: Dataset resource(s) created/updated on demand"
[sto_10: Dataset resource(s) created/updated on demand](https://utopia.sk/wiki/pages/viewpage.action?pageId=49906276)

[2014-11-14 15:31] skrchnavy opened #22 "sto_9: Pipeline scheduling management"
[sto_9: Pipeline scheduling management](https://utopia.sk/wiki/display/ODN/sto_9%3A+Pipeline+scheduling+management)

[2014-11-18 13:26] skrchnavy opened #23 "sto_11: Make dataset publicly available"
[sto_11: Make dataset publicly available](https://utopia.sk/wiki/display/ODN/sto_11%3A+Make+dataset+publicly+available)

[2014-11-18 14:52] skrchnavy opened #24 "sto_12: Make dataset publicly invisible"
[sto_12: Make dataset publicly invisible](https://utopia.sk/wiki/display/ODN/sto_12%3A+Make+dataset+publicly+invisible)

[2014-11-18 15:39] skrchnavy opened #25 "sto_33: Modify user's own user profile"
[sto_33: Modify user's own user profile](https://utopia.sk/wiki/x/w4L5Ag)

[2014-11-18 15:40] skrchnavy opened #26 "sto_31: New user and it's role"
[sto_31: New user and it's role](https://utopia.sk/wiki/display/ODN/sto_31%3A+New+user+and+it%27s+role)

[2014-11-18 15:41] skrchnavy opened #27 "sto_32: Modify user's profile and it's role"
[sto_32: Modify user's profile and it's role](https://utopia.sk/wiki/display/ODN/sto_32%3A+Modify+user%27s+profile+and+it%27s+role)

[2014-11-20 09:49] skrchnavy opened #28 "sto_24: Pipeline scheduling information"
[sto_24: Pipeline scheduling information](https://utopia.sk/wiki/display/ODN/sto_24%3A+Pipeline+scheduling+information)

[2014-11-25 12:24] skrchnavy opened #29 "sto_58: ODN catalog theme installation"
[sto_58: ODN catalog theme installation](https://utopia.sk/wiki/display/ODN/sto_58%3A+ODN+catalog+theme+installation)

[2014-12-10 16:22] skrchnavy opened #30 "sto_51: Logout from ODN"
[sto_51: Logout from ODN](https://utopia.sk/wiki/display/ODN/sto_51%3A+Logout+from+ODN)

[2014-12-10 16:59] skrchnavy opened #31 "sto_69: Management of default catalog for publicly available datasets"
[sto_69: Management of default catalog for publicly available datasets](https://utopia.sk/wiki/display/ODN/sto_69%3A+Management+of+default+catalog+for+publicly+available+datasets)

[2014-12-15 13:39] skrchnavy opened #32 "sto_5: New associated pipeline as modified copy of an existing pipeline"
[sto_5: New associated pipeline as modified copy of an existing pipeline](https://utopia.sk/wiki/display/ODN/sto_5%3A+New+associated+pipeline+as+modified+copy+of+an+existing+pipeline)

[2014-12-15 14:13] #1 closed, assigned to nobody

[2014-12-15 14:17] #4 closed, assigned to nobody

[2014-12-15 14:24] #8 closed, assigned to nobody

[2014-12-15 14:25] #9 closed, assigned to nobody

[2014-12-15 14:25] #10 closed, assigned to nobody

[2014-12-15 14:27] #12 closed, assigned to nobody

[2014-12-15 14:27] #13 closed, assigned to nobody

[2014-12-15 14:29] #14 closed, assigned to nobody

[2014-12-15 14:29] #15 closed, assigned to nobody

[2014-12-15 14:34] #16 closed, assigned to nobody

[2014-12-15 14:35] #17 closed, assigned to nobody

[2014-12-15 14:35] #30 closed, assigned to nobody

[2014-12-15 14:36] #28 closed, assigned to nobody

[2014-12-15 14:37] #24 closed, assigned to nobody

[2014-12-15 14:38] #23 closed, assigned to nobody

[2014-12-15 15:39] #6 closed, assigned to nobody

[2014-12-15 15:39] #7 closed, assigned to nobody

[2014-12-15 15:39] #5 closed, assigned to nobody

[2014-12-17 12:46] #29 closed, assigned to nobody

[2014-12-17 12:46] #21 closed, assigned to nobody

[2014-12-17 12:47] #20 closed, assigned to nobody

[2014-12-17 12:47] #11 closed, assigned to nobody

[2014-12-17 12:47] #3 closed, assigned to nobody

[2014-12-17 12:47] #18 closed, assigned to nobody

[2014-12-17 12:47] #2 closed, assigned to nobody

[2014-12-19 09:48] skrchnavy opened #33 "sto_59: Retrieving public data from a dataset via REST API"
[sto_59: Retrieving public data from a dataset via REST API](https://utopia.sk/wiki/display/ODN/sto_59%3A+Retrieving+public+data+from+a+dataset+via+REST+API)

[2015-01-12 16:28] skrchnavy opened #34 "sto_34: Delete user"
[sto_34: Delete user](https://utopia.sk/wiki/display/ODN/sto_34%3A+Delete+user)

[2015-02-11 15:36] #32 closed

[2015-02-11 15:37] #31 closed

[2015-02-11 15:37] #19 closed

[2015-02-12 15:18] skrchnavy opened #35 "sto_44: Modify external catalog for update"
[sto_44: Modify external catalog for update](https://utopia.sk/wiki/display/ODN/sto_44%3A+Modify+external+catalog+for+update

[2015-02-12 15:18] #35 closed

[2015-02-12 15:20] skrchnavy opened #36 "sto_43: Add external catalog for update"
[sto_43: Add external catalog for update](https://utopia.sk/wiki/display/ODN/sto_43%3A+Add+external+catalog+for+update)

[2015-02-12 15:20] #36 closed

[2015-02-12 15:21] skrchnavy opened #37 "sto_45: Delete external catalog for update"
[sto_45: Delete external catalog for update](https://utopia.sk/wiki/display/ODN/sto_45%3A+Delete+external+catalog+for+update)

[2015-02-12 15:21] #37 closed

[2015-02-12 15:27] skrchnavy opened #38 "sto_71: Instant manual synchronization with external catalog"
[sto_71: Instant manual synchronization with external catalog](https://utopia.sk/wiki/display/ODN/sto_71%3A+Instant+manual+synchronization+with+external+catalog)

[2015-02-12 15:27] #38 closed

[2015-02-12 15:29] skrchnavy opened #39 "sto_72: Instant manual synchronization with public catalog"
[sto_72: Instant manual synchronization with public catalog](https://utopia.sk/wiki/display/ODN/sto_72%3A+Instant+manual+synchronization+with+public+catalog)

[2015-02-12 15:29] #39 closed

[2015-02-12 15:37] skrchnavy opened #40 "sto_26: Comments for dataset"
[sto_26: Comments for dataset](https://utopia.sk/wiki/display/ODN/sto_26%3A+Comments+for+dataset)

[2015-02-12 15:40] skrchnavy opened #41 "sto_46: New associated pipeline as copy of an existing pipeline"
[sto_46: New associated pipeline as copy of an existing pipeline](https://utopia.sk/wiki/display/ODN/sto_46%3A+New+associated+pipeline+as+copy+of+an+existing+pipeline)

[2015-02-12 15:41] skrchnavy opened #42 "sto_54: Modification of name and description of an associated pipeline"
[sto_54: Modification of name and description of an associated pipeline](https://utopia.sk/wiki/display/ODN/sto_54%3A+Modification+of+name+and+description+of+an+associated+pipeline)

[2015-02-12 15:42] skrchnavy opened #43 "sto_55: Retrieving public data via SPARQL endpoint"
[sto_55: Retrieving public data via SPARQL endpoint](https://utopia.sk/wiki/display/ODN/sto_55%3A+Retrieving+public+data+via+SPARQL+endpoint)

[2015-02-12 15:43] skrchnavy opened #44 "sto_56: Retrieving data via SPARQL endpoint"
[sto_56: Retrieving data via SPARQL endpoint](https://utopia.sk/wiki/display/ODN/sto_56%3A+Retrieving+data+via+SPARQL+endpoint)

[2015-02-12 15:44] skrchnavy opened #45 "sto_66: Pipeline for publishing source data from file without transformation (wizard)"
[sto_66: Pipeline for publishing source data from file without transformation (wizard)](https://utopia.sk/wiki/pages/viewpage.action?pageId=50660196)

[2015-02-12 15:44] skrchnavy opened #46 "sto_67: Pipeline for publishing tabular data from file as RDF file (wizard)"
[sto_67: Pipeline for publishing tabular data from file as RDF file (wizard)](https://utopia.sk/wiki/pages/viewpage.action?pageId=50660218)

[2015-02-12 15:45] skrchnavy opened #47 "sto_68: Pipeline for publishing tabular data from file as RDF graph accessible via SPARQL queries (wizard)"
[sto_68: Pipeline for publishing tabular data from file as RDF graph accessible via SPARQL queries (wizard)](https://utopia.sk/wiki/pages/viewpage.action?pageId=50660223)

[2015-02-12 15:46] skrchnavy opened #48 "sto_70: GUI language management"
[sto_70: GUI language management](https://utopia.sk/wiki/display/ODN/sto_70%3A+GUI+language+management)

[2015-02-18 16:12] alocoro opened #49 "bug in ODN ver 0.10 in the creation of dataset - blocking"
When you try to add a new dataset (first screen) and you click Next it gives an error:

The form contains invalid entries:
Owner org: A organization must be supplied

but there is no Owner org field to be filled.... so it is a locking bug you cannot use ODN adding datsets

See also the screenshot of the bug as it appears.

![screenshot 2015-02-18 17 07 56](https://cloud.githubusercontent.com/asset

[2015-02-18 16:14] #49 closed

[2015-02-25 10:16] alocoro opened #50 "No URL validation when modifying an existing external catalog (same as #80)"
When adding a new external
catalog, and putting a malformed URL in the text area named "*URL of
external catalog"* (for example you simply write a word of the kind
'hello'), no error message is displayed to signal a malformed URL, but
instead the catalog record is added.

TCID: ODN-125

[2015-02-25 10:17] alocoro opened #51 "No URL validation when adding new external catalog (same as #80)"
When adding a new external
catalog, and putting a malformed URL in the text area named "*URL of
external catalog"* (for example you simply write a word of the kind
'hello'), no error message is displayed to signal a malformed URL, but
instead the catalog record is added.

TCID: ODN-80

[2015-02-25 10:17] alocoro opened #52 "Test Case ODN-3 :: Version : 1 :: Sto_1: Forgotten password"
This test fails because when you click on the "*Forgotten password"* button
in ODN Home and fill the text area with your username and click on the *Request
Reset *button, no mail is ever sent to the user, so that you cannot start

[2015-03-11 09:49] skrchnavy opened #53 "sto_13v2: Catalog records browser (ext)"
[sto_13v2: Catalog records browser](https://utopia.sk/wiki/x/SYAuAw)
Estension of #5

[2015-03-11 09:50] #53 closed

[2015-03-11 09:51] skrchnavy opened #54 "sto_14v2: Catalog records search using keywords"
[sto_14v2: Catalog records search using keywords](https://utopia.sk/wiki/x/TYAuAw)
Extension of #6

[2015-03-11 09:51] #54 closed

[2015-03-11 09:52] skrchnavy opened #55 "sto_16v2: Catalog records filtering"
[sto_16v2: Catalog records filtering](https://utopia.sk/wiki/x/UIAuAw)
Extension of #7

[2015-03-11 09:52] #55 closed

[2015-03-11 09:54] skrchnavy opened #56 "sto_43v2: Add external catalog for update"
[sto_43v2: Add external catalog for update](https://utopia.sk/wiki/x/gIAuAw)
extension of #36

[2015-03-11 09:54] #56 closed

[2015-03-11 09:56] skrchnavy opened #57 "sto_44v2: Modify external catalog for update"
[sto_44v2: Modify external catalog for update](https://utopia.sk/wiki/x/hoAuAw)
Extension of #35

[2015-03-11 09:57] skrchnavy opened #58 "sto_78: Disassociate a pipeline"
[sto_78: Disassociate a pipeline](https://utopia.sk/wiki/x/cIAuAw)

[2015-03-11 09:58] #58 closed

[2015-03-11 09:58] #57 closed

[2015-03-20 10:27] skrchnavy opened #59 "sto_1v2: Login into ODN"
[sto_1v2: Login into ODN](https://utopia.sk/wiki/x/XgApAw)

[2015-03-25 11:06] eea71 opened #60 "ODN-3: Sto_1: Forgotten password"
click Log in
click Forgot your pasword?
write valid username and click Request Reset

Appears err msg
Server Error
An internal server error occurred

[2015-03-25 11:45] skrchnavy commented on #60
related to #1

[2015-03-25 13:28] eea71 opened #61 "Invalid error message if Title missing."
Add Dataset -> Dont fill nothing - > Err msg =

The form contains invalid entries:
Name: Missing value

I cant find Name at the Form. Right msg = Missing Title, or missing URL.
The same for err msg:

The form contains invalid entries:
Name: Name must be at least 2 characters long

[2015-03-25 13:30] eea71 opened #62 "dmeo"
Add Dataset  -> fill Title with something. Save
Add Dataset -> fill Title with the same. Err msg is rised.
Add Dataset -> fill Title with something another. Err msg is rised again.

Strange behaviour. Inspite of fact, that probably Title is UNIQUE I saved twice the same title. ;-)
URL when I retype Title is not changed automatically. Also when I change Title - URL (I dont know why) containst only

[2015-03-25 14:24] eea71 opened #63 "Bad return place after deleting dataset."
In your Organization  execute action Add Dataset -> Create any dataset with Title only, private and Save it.
You will see all your datasets for you organization, and also your new dataset.
Click at it and Manage. At the detail click Delete button and confirm.
The right behaviour - > I will be at the list of Organization Datasets, where I was before Detete acion.
Real behaviour = I am at the Datase

[2015-03-25 14:38] eea71 opened #64 "After deleting private dataset Title name is not possible to use anymore."
Create private dataset, Delete it. After deleting is not possible to reuse the same dataset Title name.

[2015-03-26 10:08] eea71 opened #65 "Longer Organization and Dataset Name overlaps other text in form."
I created Dataset with name more than 45 characters (the same for Organization) and this name when I work with this item overlap frame and rewriting another areas. This status is visible in internal catalog, public catalon and ckan demo too.
The same problem is visible when I click at the Organizations button at the top of View. Name overlaps panel for organization.

[2015-03-26 12:18] OskarStoffan opened #66 "Insufficient user rights for /var/www/dump for L-FilesToLocalFS"
I want to publish a file dump for a dataset. When a pipeline containing L-FilesToLocalFS DPU is executed, with 'Destination directory absolute path' set to '/var/www/dump' it fails due to insufficient rights.

[2015-03-26 14:17] eea71 opened #67 "Invalid URL for created resource"
I created pipeline with resource on http url. After running pipeline, zip file as resource was saved at the location with invalid url.

data.zip
URL: http://ada/dump/data.zip

instead of
data.zip
URL: 192.168.128.28/dump/data.zip

TCID: ODN-113, ODM-112, ODN-36, ODN-106, ODN-105, ODN-24

[2015-03-26 15:03] skrchnavy commented on #66
Depends on https://github.com/OpenDataNode/odn-box#17

[2015-03-30 12:03] eea71 opened #68 "Word "text" still displayed during pipeline creation."
+ Add pipeline - > at the left frame below ADVICE is still displayed word "text".
![image](https://cloud.githubusercontent.com/assets/10993265/6896039/2a897744-d6e7-11e4-91c3-011d31aa6795.png)

[2015-03-30 12:06] eea71 opened #69 "It is not intuitive how to Edit name and desc of pipeline."
It is not intuitive how to Edit name and desc of pipeline. The mark ^ next to name of pipeline is not very often used in apps for it.

[2015-03-30 12:09] eea71 opened #70 "LOGOUT button is not properly visible in ODN/UV."
In mozilla firefox I see something unclear. It is very heavy to read it.
![image](https://cloud.githubusercontent.com/assets/10993265/6895964/494bdccc-d6e6-11e4-8236-65087770a5a9.png)

[2015-03-30 13:17] eea71 opened #71 "Disassociated pipeline continues to execute according to schedule set previously (scheduling rule is not disabled)"
I created pipeline and I associated it with datased. I schedule it every 3 minutes. Then I disassociated pipeline. In scheduler is pipeline still in list. After 4 minutes I saw pipeline was running.

You can see at 192.168.128.28 this:
1) NonAssociated1 pipeline you can see at the list of pipelines you can choose to associate.
2) In scheduler this pipeline is still in list for schedulling.

TCID:

[2015-03-31 08:46] eea71 opened #72 "UV E-HttpDownload component is more than one."
I created DPU template from zip file. I created and run many pipelines. Some of them was created manually, the rest as modified copies.Running was also automated and manual too.
After these acions (exactly I dont know which one was critical for it) there is multiplication of UV components. See picture...
![image](https://cloud.githubusercontent.com/assets/10993265/6915305/3b4d4522-d793-11e4-8727-2

[2015-03-31 08:52] eea71 opened #73 "Impossible to resize panel with widgets."
There is not possibility to resize panels with UV widgets. See picture belows...
![panel](https://cloud.githubusercontent.com/assets/10993265/6915403/f774a876-d793-11e4-863f-3604124120ad.jpg)

[2015-03-31 10:42] eea71 opened #74 "Missing POPULARITY item in combo box Order by (internal catalog)"
In interanl catalog.
Click to Organization. Below the search box is combo box Order by: Item POPULARITY is missing.
![image](https://cloud.githubusercontent.com/assets/10993265/6917266/56a7afaa-d7a3-11e4-8035-3e17dfc2d80e.png)

TCID: ODN-20, ODN-21

[2015-03-31 10:55] eea71 opened #75 "Missing CREATOR field at the list of datasets (internal catalog)"
Click at the organization. Data about datasets are displayed (unorganized). Field creator (inspite of fact was entered) is not displayed.
![image](https://cloud.githubusercontent.com/assets/10993265/6917472/268b7dfe-d7a5-11e4-9416-ba32ade707dd.png)

TCID: ODN-20

[2015-04-01 11:10] eea71 opened #76 "Incorrect alphabetical sorting of Dataset Names (internal catalog)"
Internal catalog.
Click Organization and you obtain list of Datasets. You can sort it using combo box Order By:
Alphabetical order of Dataset Name is not ok according me.
Case of letter is not in common life reason to sort the way it is done.
For example If I have 2 datasets 1. Advent and 2. advent2 these two datasets have to be sorted as letter A. And it is not ok, if I firstly saw all datasets w

[2015-04-01 12:05] eea71 opened #77 "Missing POPULARITY item in combo box Order by (public catalog)"
Click to Organization. Below the search box is combo box Order by: Item POPULARITY is missing.
![image](https://cloud.githubusercontent.com/assets/10993265/6917266/56a7afaa-d7a3-11e4-8035-3e17dfc2d80e.png)

TCID: ODN-26, ODN-27

[2015-04-01 12:17] eea71 opened #78 "Incorrect alphabetical sorting of Dataset Names (public catalog)"
Click Organization and you obtain list of Datasets. You can sort it using combo box Order By:
Alphabetical order of Dataset Name is not ok according me.
Case of letter is not in common life reason to sort the way it is done.
For example If I have 2 datasets 1. Advent and 2. advent2 these two datasets have to be sorted as letter A. And it is not ok, if I firstly saw all datasets with UpperCase lett

[2015-04-01 13:24] eea71 opened #79 "Invalid URL for resource preview (public catalog)"
In public catalog click to Organization. Choose dataset with resource. Click on resource. URL for resource at the top of form is invalid (EHttpDownload or LCatalog widget).
![url](https://cloud.githubusercontent.com/assets/10993265/6941849/759d136a-d883-11e4-9350-b67e9d586ceb.jpg)

TCID: ODN-111, ODN-35, ODN-23, ODN-104

[2015-04-01 14:10] eea71 opened #80 "No URL validation for added or modified external catalog"
There is no validation of URL for added external catalog.
https://utopia.sk/wiki/display/ODN/sto_43%3A+Add+external+catalog+for+update
![url](https://cloud.githubusercontent.com/assets/10993265/6942713/a89ad490-d889-11e4-9ae4-eb20134ccc29.jpg)

TCID: ODN-125, ODN-166

[2015-04-01 14:32] eea71 opened #81 "GUI modification for err msg window."
I created 3 ext. catalogs for publishing tab. 1 and 3 are ok, 2. is bad url. After pushing action synchronize with all ext. catalog now I obtained this screen.
Pls. see x icon for closing red err msg window.
![image](https://cloud.githubusercontent.com/assets/10993265/6943207/be1f758e-d88c-11e4-9d8b-985b6ee15d6a.png)

[2015-04-02 12:39] eea71 opened #82 "ODN-31: Dataset publishing on Facebook."
Clik to Dataset Name - public; at the detail click to FB social medium. Add comment and push share.
At the FB account you can see only IP address, but not all link to dataset like it was in google.
![image](https://cloud.githubusercontent.com/assets/10993265/6964058/02f74bfa-d946-11e4-820b-c050d0d9c9c4.png)

[2015-04-02 12:49] eea71 commented on #82
Link was correct and into dataset.

[2015-04-02 12:49] #82 closed

[2015-04-02 13:22] eea71 opened #83 "Missing validation during creating of resource manually."
I created manually resource without Name and Description. Was allowed, now err msg was displayed. Resource was saved. Consequently I push Synchronize with public catalog now. This rise err msg.
![image](https://cloud.githubusercontent.com/assets/10993265/6964706/136ed768-d94c-11e4-81d1-f9b877fa37bc.png)

[2015-04-07 09:53] jindrichmynarz opened #84 "sto_2: missing precondition for creating a new dataset"
When using OpenDataNode (version 0.11.0, installed from Debian package), a new dataset cannot be added to the internal catalog unless there's an organization created in the catalog. If you try to add a new dataset without any organization created in the catalog, it will fail with the following error:

[code]

In this case, organization cannot be supplied, because the create dataset form doesn't co

[2015-04-07 09:58] jindrichmynarz opened #85 "Internal catalog: improve the placeholder for dataset URL"
When using OpenDataNode (version 0.11.0, installed from Debian package), if you want to add a new dataset, then in the step of adding data the input form uses `http://example.com/my-image.jpg` as the placeholder of the URL field. Since JPG image isn't the best example of _data_, this placeholder could be improved; e.g., `http://example.com/my-dataset.csv`.

[2015-04-07 10:07] jindrichmynarz opened #86 "Name of ODN instance is not configurable(catalog)"
Using OpenDataNode (version 0.11.0, installed from Debian package), when you change the configuration of either internal or public catalog at `/internalcatalog/ckan-admin/config` or `/ckan-admin/config` respectively, the changes don't seem to have any impact. For example, changing the "Site Title" or "Style" doesn't result in any noticeable effect.

If this configuration is overridden by ODN confi

[2015-04-07 14:13] OskarStoffan commented on #84
This will be resolved when user story sto_74:Default organization will be implemented

[2015-04-10 13:22] OskarStoffan commented on #79
Similarly as #67 this should be related to not correctly set CKAN filestore

[2015-04-14 13:18] eea71 opened #87 "Modification of Dataset Title(Name) error."
Click at existing Dataset and push Manage button. Then remove Title (Name) of dataset and press Save. According TC it has to rise err msg. In reality Title (Name) is filled with dataset URL.

TCID: 102 - Modification of dataset metadata (invalid).

[2015-04-15 14:36] mvi-eea-sk commented on #87
Dataset title isn't name, it's just "pretty" human readable "name" of the dataset and there are no restriction on it in CKAN and doesn't have to be filled at all.
The name of dataset is set in the fill-able box of the URL, it's unique and has some restriction. So if you don't fill the title the name is displayed instead.

[2015-04-16 07:34] mvi-eea-sk commented on #79
@Jan-Marcek
The L-FilesToCkan DPU needs CKAN filestore to be configured to function.
This DPU tries to upload dump to internal catalog and then is synchronized to public catalog.
Both catalogs need to be configured to use its filestore.

[2015-04-16 07:40] mvi-eea-sk commented on #71
related to https://github.com/OpenDataNode/ckanext-odn-pipeline/issues/7
fixed in: https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/a2163d5930b8ff22a36a7d102b9f023583f767fe
by disabling schedules when association is removed

[2015-04-16 07:48] mvi-eea-sk commented on #65
fixed in https://github.com/OpenDataNode/ckanext-odn-theme/issues/3

[2015-04-16 07:55] mvi-eea-sk commented on #64
The same title isn't problem, the name of dataset yes.
here #87 i explained the difference between name and title.

The problem here is creating dataset with the same name as the "deleted" dataset.
When you delete dataset, only its state is changed and only admin can permanently delete it (by purging).
So the name is unique, the deleted dataset still exists and you are trying to create dataset wit

[2015-04-16 08:11] mvi-eea-sk commented on #62
related to #64
The name of the dataset is automatically created from title
Example:

When creating dataset:
1. you type title: My new dataset
2. corresponding name is created automaticaly (in the URL parameter): my-new-dataset

3. Add another dataset with the same name
4. type the same title => the same name is produced
5. save => error
6. you change the title, but the name stays the same
7. save

[2015-04-16 09:07] mvi-eea-sk commented on #60
This is most probably caused because the [email settings](http://docs.ckan.org/en/1117-start-new-test-suite/configuration.html#email-settings) are not set.

[2015-04-16 09:29] mvi-eea-sk commented on #61
related to #62
title is no required
name is...
name is filled in the URL fill-able box

[2015-04-22 10:11] mvi-eea-sk commented on #68
fixed in https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/23c1418685465efd52c3ae180bae0b91b89b3d80
will be in 1.0.0 release

[2015-04-22 10:20] mvi-eea-sk commented on #74
configuration issue, fixed in https://github.com/OpenDataNode/odn-box/commit/6d47a4c5d1ddc7d34138200d99206cbb92f7e0d6 (release 1.0.0)
it's for both public and internal

[2015-04-22 10:20] mvi-eea-sk commented on #77
configuration issue, fixed in https://github.com/OpenDataNode/odn-box/commit/6d47a4c5d1ddc7d34138200d99206cbb92f7e0d6 (release 1.0.0)
it's for both public and internal

[2015-04-22 10:38] mvi-eea-sk commented on #76
its one of the "naming" issues
it's sorted by name, not title
name can have only lowercase, _ and - characters
lets say we have datasets with title:
* 'Advent' and name 'advent'
* advent2 and the same name 'advent2'
* 'Advent 3' and name 'advent-3'
* 'Baby' and name 'advent-1'
* no title and name 'advent-0'

will be ordered (by Name Ascending) and displayed:
Advent
advent-0
Baby
Advent 3
advent2

[2015-04-22 10:39] mvi-eea-sk commented on #78
related to #76

[2015-04-23 08:30] skrchnavy opened #88 "sto_60: Retrieving data via REST API"
[sto_60: Retrieving data via REST API](https://utopia.sk/wiki/x/1AEFAw)

[2015-04-30 08:42] eea71 opened #89 "Pipeline manually creation error."
I created Pipeline and manually configuring. After drag&drop of uvfiledownloader and clicking to edit this component is not editation possible anymore.
![image](https://cloud.githubusercontent.com/assets/10993265/7409306/82e03a58-ef25-11e4-8bef-8ff8e9a04683.png)

[2015-04-30 09:01] eea71 opened #90 "Refresh of page loosing data."
Click Piplelines/Create Pipeline, write name, drag&drop something. Push F5. Page is refreshing, data are loosing. No alert about leaving page and saving is not rised.

[2015-04-30 09:06] eea71 opened #91 "After editing existing pipeline NPE is rised."
I created pipeline manually. (Name: SecondPipeline ) I save it. I opened it for editation and moving some elements up and down, clicking into canvas. Save.
![image](https://cloud.githubusercontent.com/assets/10993265/7409692/e32d68f6-ef28-11e4-8834-356be5e266d7.png)
After clicking into cofigure manually I obtained this.
[code]

[2015-04-30 12:52] OskarStoffan opened #92 "UV behaves differently in Google Chrome and Mozilla Firefox"
When accessing a pipeline, the URL displayed contains parameters in Firefox. In Chrome it does not. The behavior is correct only when the parameter is not contained in the URL. (both screenshots were created in Chrome, the second one with the URL copied out from Firefox).

![1_uv](https://cloud.githubusercontent.com/assets/8984799/7413016/67f73390-ef48-11e4-92f9-eb223bcb39f7.png)
![2_uv](https://c

[2015-04-30 13:45] eea71 opened #93 "Midpoint Assignments error."
Login into midpoint as casadmin. Create new user. Save. Clik check box next to Assignments - ODN and End User. And then next to settings wheel select for example Assign Account or Assign Role.
![image](https://cloud.githubusercontent.com/assets/10993265/7413954/df04c95a-ef4f-11e4-9ad3-c05b05f40821.png)

[2015-04-30 14:34] eea71 opened #94 "Private Dataset and Private Pipeline execution, scheduling, delete error."
As casadmin I created private Dataset and private Pipeline.
1. Is OK ? If as another user (adriana) I saw private Dataset and also I saw private Pipeline in internal catalog?
2. Is OK? If as another user (adriana) I saw actions with private Pipeline = Execute, Schedule, Configure manually, Delete?
3. Is  OK? If Execution RUN, Schedule opened empty Scheduller, Configure manually raised error about

[2015-04-30 17:04] skrchnavy commented on #92
@OskarStoffan this is https://github.com/UnifiedViews/Core/issues issue, please report problem there.

[2015-04-30 17:22] skrchnavy commented on #91
@eea71 please report into https://github.com/UnifiedViews/Core/ repository

[2015-04-30 17:23] skrchnavy commented on #90
@eea71 https://github.com/UnifiedViews/Core/ issue, please report there.

[2015-04-30 17:26] skrchnavy commented on #89
@eea71 more details needed

[2015-05-04 18:58] skrchnavy commented on #92
depends on UnifiedViews/Core#379

[2015-05-06 07:45] OskarStoffan opened #95 "After logout from ODN/UV user remains logged in in ODN/IC"
When logout from ODN/UV is performed first, user remains logged in in ODN/IC (incorrect).
When logout from ODN/IC is performed first, user is logged out from ODN/UV (correct).

TC ID: ODN-64

[2015-05-06 07:54] OskarStoffan opened #96 "It is not possible to log out from ODN/MidPoint"
Once the user is logged in, it is not possible to log out from ODN/midpoint using 'Log out'.

TCID: ODN-64

[2015-05-06 08:50] eea71 opened #97 "Midpoint create user problem."
I tried to create new user in midpoint. I filled Name, Given Name and FullName, password at bottom.
![image](https://cloud.githubusercontent.com/assets/10993265/7490104/c248246e-f3dd-11e4-860d-5a5b5c4a486f.png)

TCID: ODN-40

[2015-05-06 09:01] katkav commented on #97
You have to fill the family name - it is required by LDAP. For correct user creation it is also required to set the role for the user (you can choose in extension/role - administrator or user).

[2015-05-06 09:32] #59 closed

[2015-05-06 09:33] #26 closed

[2015-05-06 09:33] #25 closed

[2015-05-06 09:33] #27 closed

[2015-05-06 09:38] skrchnavy opened #98 "sto_42: Pipeline debugging"
[sto_42: Pipeline debugging](https://utopia.sk/wiki/x/24L5Ag)

[2015-05-06 09:39] #98 closed

[2015-05-06 09:40] skrchnavy opened #99 "sto_51v2: Logout from ODN"
[sto_51v2: Logout from ODN](https://utopia.sk/wiki/x/nYEuAw)

[2015-05-06 09:41] #99 closed

[2015-05-06 09:41] #33 closed

[2015-05-06 09:41] #88 closed

[2015-05-06 09:42] #48 closed

[2015-05-06 09:43] skrchnavy opened #100 "sto_71v2: Instant manual synchronization with external catalog"
[sto_71v2: Instant manual synchronization with external catalog](https://utopia.sk/wiki/x/94AuAw)

[2015-05-06 09:43] #100 closed

[2015-05-06 09:47] skrchnavy opened #101 "sto_86: Default set of DPU templates"
[sto_86: Default set of DPU templates](https://utopia.sk/wiki/x/-4EuAw)

[2015-05-06 09:47] #101 closed

[2015-05-06 09:49] #66 closed

[2015-05-06 09:51] skrchnavy commented on #96
Bug in #99

[2015-05-06 09:53] skrchnavy commented on #97
From the gui it is not clear what are mandatory parameters, @katkav is there a way to configure midpoint to change GUI to prevent such issue?

[2015-05-06 09:55] skrchnavy commented on #95
bug in #99 (sto_51v2: Logout from ODN)

[2015-05-06 10:02] katkav commented on #97
Yes, it is possible and actually it was already configured, but this configuration was probably not added to the current release..

[2015-05-06 10:26] skrchnavy commented on #97
bug related to #26 (sto_31: New user and it's role)

[2015-05-06 12:03] eea71 opened #102 "Missing 'User management' in 'Tools' combo box on main page of internal catalog."
According:
Test Case ODN-40 :: Version : 1 :: Add new user and its role (valid);

in internal catalog has to be Tools combo box with User Management Item.

ODN-362:Modify user's profile and its role (missing mandatory attributes)
ODN-360:Modify user's own user profile (missing mandatory attributes)
ODN-353:Add new user and its role (missing mandatory attributes)
ODN-44:Modify user's own user profi

[2015-05-06 13:01] eea71 opened #103 "Midpoint error login non administrator user."
I created user as normal user (non administrator role) and tried to login into midpoint.
![image](https://cloud.githubusercontent.com/assets/10993265/7493393/c21cb04a-f400-11e4-9df8-69ac4c81f112.png)

[2015-05-06 13:03] skrchnavy commented on #103
bug related to story #25

[2015-05-06 13:21] eea71 opened #104 "Midpoint common user (non administrator) can create another user with role administrator."
Is OK if I did this?

I logged into midpoint as casadmin.
I created user adriana with administrator role, reconcile, save. Close browser.
I logged into midpoint as administrator adriana, edit my role to user, reconcile. Save.
I click into menu New User and I created administrator Peter. Peter is new administrator.
No err msg was raised. Non administrator adriana created administrator Peter.

[2015-05-07 13:38] eea71 opened #105 "Midpoint create user too few mandatory fields required."
To create new user is necessary only Name and Password.
The rest of fields could be empty. For us it is not correct situation. We probably don't need such user.

ODN-362:Modify user's profile and its role (missing mandatory attributes)
ODN-360:Modify user's own user profile (missing mandatory attributes)
ODN-353:Add new user and its role (missing mandatory attributes)
ODN-40 :: Version : 1 :: Add

[2015-05-07 13:49] eea71 opened #106 "Midpoint: To document meaning of Reconcile checkbox at User Form."
I created and edited several users. Sometime I saved without Reconcile check box and everything was ok. What is exact meaning of this check box? Pls give to me maximum of info about it.

[2015-05-07 14:15] katkav commented on #105
Yes, you're right. The new configuration which requires to fill first name, family name, name, role, organization was prepared but was not included in the last release.

[2015-05-07 14:18] katkav commented on #106
You do not need to check reconcile if you create new user. You only need it in special cases, e.g. something went wrong (some of the resource was offline while the accounts were created etc) and you want to fix problems. But in normal cases, you just need to create a user and click save button, nothing more.

[2015-05-11 07:17] eea71 opened #107 "After logout from ODN/UV || IC login form is not available."
According Test Link
Test Case ODN-64 :: Version : 1 :: Logout from ODN
after logout from UV or IC clear login form has to be displayed.

[2015-05-11 07:35] eea71 commented on #61
Only please! Correct err msg, because is not OK!

No!
Name missing value!

BUT
URL missing value!

Name is not present at the form.

[2015-05-11 07:50] eea71 opened #108 "Creating/Editing Dataset. No metadata validator!"
I created dataset with URL only. Than I edit it. I filled everything. Missing validation of emails (I dint enter @), versions etc. Is it ok?

[2015-05-11 08:11] skrchnavy commented on #106
Based on the answer I expect this shall be properly mentioned in the documentation of ODN. Also with a link to Midpoint if such available

[2015-05-11 08:15] eea71 opened #109 "Invalid error message, when.removing URL from existing dataset."
Click existing dataset. Mange. Click Edit on URL Remove URL.

Only please! Correct err msg, because is not OK!

No!
Name: Must be at least 2 characters long

BUT
URL: Must be at least 2 characters long

Name is not present at the form.

[2015-05-11 08:42] eea71 opened #110 "Private and deleted dataset is visible in public catalog."
I created dataset as private. Saved. Is visible in IC but not in PC.
I edited this dataset and changed visibility to public.  Is visible in IC and also in PC.
I edited this dataset and changed visibility back to private. Is visible in IC and also in PC.

The same bad behaviour is if I delete dataset in internal catalog.
ODN-27:Publicly available catalog records search using keywords
ODN-26:Publicl

[2015-05-11 09:28] skrchnavy commented on #110
@OskarStoffan shall be such dataset removed from PC?

[2015-05-11 09:36] OskarStoffan commented on #110
According to user story sto_12 yes, however this is not what we want to achieve as final implementation. Termination of maintenance/publication of a dataset in accordance with methodology defined should be implemented differently - see user stories sto_48, sto_49

[2015-05-11 13:22] eea71 opened #111 "Single sign on error in UV."
I logged into IC and worked with it. For 3 hours browser was opened but was not clicked. Consequently I continue with work in IC. Everything was running, no session expired. Than I click at the dataset and tried to create new pipeline manually. UV was opened with CAS login (Not correct!) and after login I wasn't forwarded into canvas for editing pipeline, but at the tab Test (Not correct!).

[2015-05-11 13:33] jindrichmynarz opened #112 "Apache restart fails when installing odn-simple package v1.0.1"
When installing ODN 1.0.1 using the odn-simple Debian package, restart of the Apache server fails:

[code]

Context:

[code]

[2015-05-12 10:33] skrchnavy commented on #112
@jindrichmynarz do you have installed odn-simple and going to update?

[2015-05-12 10:47] eea71 opened #113 "Filter for scheduller."
When I schedule pipeline, application open UV scheduler tab.
But I see all scheduled pipelines.

Wished functionality is to see scheduling rules for selected pipeline only.
Test Case ODN-29 :: Version : 1 :: Modify pippeline scheduling information
 Test Case ODN-30 :: Version : 1 :: Create pipeline scheduling information

[2015-05-12 11:32] jindrichmynarz commented on #112
I've had odn-simple 1.0.0 installed, which I've removed with `apt-get remove --purge odn-simple`. I've updated the package to 1.0.1 and installed.

[2015-05-12 11:46] jindrichmynarz commented on #112
I should add that restarting Apache manually after the installation of ODN also fails:

[code]

Since Apache cannot be started, ODN services aren't accessible (connection is refused).

[2015-05-12 11:54] eea71 opened #114 "Creation of pipeline - validation failed."
I click Dataset/Manage/Pipeline. +Add Pipeline/Create from existing, select one of them.
I don't fill (exactly like in TC) name and desc of new pipeline. Server error is displayed.
Test Case ODN-101 :: Version : 1 :: Create associated pipeline as modified copy of an existing pipeline (invalid)
![image](https://cloud.githubusercontent.com/assets/10993265/7586562/697b8d0a-f8ae-11e4-8f6d-5594acbf0633

[2015-05-12 14:43] Jan-Marcek commented on #112
```unlink /etc/apache2/sites-enabled/odn-cas-ssl```
solved this error. But the main problem is that release 1.0.1 is not supporting update from previous one.

[2015-05-12 14:43] #112 closed

[2015-05-13 04:27] jindrichmynarz opened #115 "Redirect from HTTP to HTTPS when user access 'internal' applications of ODN"
If you access ODN's services that require HTTPS (e.g., InternalCatalog, UnifiedViews) using HTTP instead of HTTPS, your request is handled by CKAN (PublicCatalog) and you are presented with HTTP 404 error. It would be helpful to present the user a more descriptive message that suggests that HTTPS needs to be used.

Context: ODN 1.0.1 installed from odn-simple Debian package.

[2015-05-13 08:03] eea71 opened #116 "Problem with association of pipeline."
I associated new pipeline to dataset. I configured it manually.
Then I disassociated this pipeline.
Consequently I wanted associate new existing pipeline to this dataset.
BUT in offered pipelines this one was missing.

Note: Later I created 5 copies of this pipeline ( after its disasociation ) through UV button COPY.
These newly created copies was offered me to associate.
Workaround: Seems like so

[2015-05-13 08:21] eea71 commented on #114
Please close this bug. It seems the reason was little DISK SPACE. It sounds strange, but after reinstallation we dont have this bug.

[2015-05-13 08:45] #114 closed

[2015-05-13 08:59] jindrichmynarz opened #117 "casadmin not authorized to edit internal catalog's settings"
If I log in as casadmin user to the internal catalog and then go to "Settings" (`/internalcatalog/user/edit/casadmin`), an error message is shown: `You are not authorized to do this`

Is this an expected behaviour or a bug?

I'm using ODN 1.0.1 installed from the odn-simple Debian package.

[2015-05-13 09:17] skrchnavy commented on #117
this is related to #27

[2015-05-13 09:22] skrchnavy commented on #111
This is partially related to #95, user shall be logged in all system or nowhere, so this shall not happen.

[2015-05-13 10:55] jindrichmynarz opened #118 "Default locale in UnifiedViews' backend-config.properties should be English"
While the frontend-config.properties of UnifiedViews has the default locale set to `en` (English), backend-config.properties defaults locale to `sk` (Slovak). The default locale should be `en` in both cases.

I'm using ODN 1.0.1 installed from the odn-simple Debian package.

[2015-05-13 13:52] jindrichmynarz commented on #117
Moreover, when you log in to the internal catalog, there's a prompt asking you to update your profile and change your email address:

`Please update your profile and add your email address. Open Data Node - Internal catalog uses your email address if you need to reset your password.`

As described above, this is not possible, as editing the user is not authorized to edit the profile information.

[2015-05-13 15:22] skrchnavy commented on #118
depends on UnifiedViews/Packages#31

[2015-05-14 13:23] eea71 commented on #76
Sorry, your example is completely bad sorted. B has to be at the end of list. ;-)

[2015-05-15 07:30] eea71 opened #119 "No preview available for csv file."
I created dataset and pipeline with creating resource .csv. In detail of dataset after adding resource I dont see preview.
![image](https://cloud.githubusercontent.com/assets/10993265/7648593/0de882ac-fae5-11e4-9192-ba7fa29f5d21.png)

ODN-23:List available resources for a dataset (select resource name)
ODN-104:List available resources for a dataset (select more information)

[2015-05-15 08:15] skrchnavy commented on #119
Issue is caused how is datapreview implemented in CKAN. It uses external service to render csv/xls data in file store and that service has to have access to data. (for more details see: http://docs.ckan.org/en/latest/maintaining/data-viewer.html#data-explorer )

DataGovUK group created extension that handles the preview localy (no service): https://github.com/datagovuk/ckanext-datapreview

[2015-05-15 12:07] eea71 commented on #119
NOTE and possible reason: The server with installed application is not accessible from outside.

[2015-05-15 12:25] eea71 opened #120 "Impossible to publish resource at the Facebook and Google+."
I had public dataset and resouce zmluvicky.zip, wanted to publish at the FB.
![facebook](https://cloud.githubusercontent.com/assets/10993265/7652550/0a4cfc58-fb0e-11e4-8352-ce09cd3d8c80.jpg)

Condition from install guide: Configure debian box properly, mainly hostname shall be defined as box visible from external network.
Possible reason: The server with installed application is not accessible fro

[2015-05-15 12:48] eea71 commented on #120
For Google+ application offered to add comment, but link to ODN resource is not present.

[2015-05-18 08:59] skrchnavy commented on #113
depends on UnifiedViews/Core#384

[2015-05-18 09:23] skrchnavy commented on #115
Redirect from http to https shall be implemented instead of proxying public catalog.

[2015-05-18 12:55] Jan-Marcek commented on #118
https://github.com/UnifiedViews/Packages/commit/b23d9349992ee72edd5a08dc78ef364479fdba75

[2015-05-18 15:31] jindrichmynarz opened #121 "Public dataset in the internal catalogue is not synchronized to the public catalogue"
If I mark the visibility of a dataset in the internal catalogue (belonging to the default COMSODE organization) as public, it is not synchronized to the public catalogue. It remains to be visible only in the internal catalogue, even though it no longer has the "private" flag.

I'm using ODN 1.0.1 installed via the odn-simple Debian package. If I recall correctly, dataset synchronization between th

[2015-05-19 09:53] peterklimo commented on #104
not reproducable on my environment, also not reproducable on "oskar" server

[2015-05-19 10:02] eea71 commented on #104
Whati is not reproducable? I did it on "Oskar" now. User Adriana non administrator create user Kazimir Kazimir. Read how to do it exactly. I wrote exact steps.

[2015-05-19 11:01] peterklimo commented on #104
are you sure you clicked on reconcile after you changed the user role ?

[2015-05-19 11:03] eea71 commented on #104
Yes I am. After reconcile and save user adriana dont close browser but continue with user creating.

[2015-05-19 11:33] peterklimo commented on #104
clarified.
credentials for actual logged in user are set during login procedure, they are not updated after you changed it in the application (even if you enable reconcile). you need to logout from application and login again.
issues regarding application timeout and logout are reported as separate issue

[2015-05-19 14:15] mvi-eea-sk commented on #117
user information should be changed in midpoint not in CKAN

about the email address, CAS momentarily doesn't send email attribute, so it can't be saved in CKAN
user provisioning will be done by midpoint in future, it will create and update users in CKAN including email information.

[2015-05-19 14:20] jindrichmynarz commented on #117
If that's expected behaviour, then it would be better to communicate that to users, and guide them to Midpoint, should they need to reconfigure something.

[2015-05-19 15:15] skrchnavy commented on #104
@peterklimo what is result of this issue? fixed or invalid?

[2015-05-19 18:13] peterklimo commented on #104
invalid

[2015-05-19 18:13] #104 closed

[2015-05-20 07:36] jindrichmynarz opened #122 "odn-midpoint: Excessive logging"
odn-midpoint creates a lot of logs. For example, it generated more than 500 MB of logs per 1 day on my ODN 1.0.1 server using odn-simple 1.0.1 Debian package. Reducing the volume of logs would be appreciated. For example, the default log level can be set higher than `TRACE`.

[2015-05-20 07:58] skrchnavy commented on #122
depends on OpenDataNode/odn-box#20

[2015-05-20 09:05] peterklimo commented on #93
fixed in the new release of midpoint, not reproducable on develop version

[2015-05-20 09:05] #93 closed

[2015-05-20 12:24] Jan-Marcek commented on #122
it was fixed by https://github.com/OpenDataNode/odn-box/blob/develop/midpoint/conf/web.xml#L92

It was caused by the fact that we were using snapshot version of midpoint.

[2015-05-21 11:30] eea71 commented on #116
New research: For newly created dataset I didnt see once already unassociated pipeline.

[2015-05-21 11:53] eea71 opened #123 "Rest API resource problems (ODN/IC and ODN/PC)."
I created pipeline with csv file as tabular data.
Problems:
a) 2 primary keys are necessary
b) No preview for Rest API source is available
c) Base API URL is invalid, not clickable

These apply both for ODN/IC and ODN/PC

TCID: ODN-79:Retrieving data via REST API
TCID: ODN-78:Retrieving public data from a dataset via REST API

[2015-05-21 13:08] Jan-Marcek commented on #122
not fixed. Not enough.

[2015-05-21 13:40] eea71 opened #124 "Error synchronizing public catalog after reconfiguration ini file."
Opens CKAN ini configuration file (/etc/odn-simple/odn-ckan-ic/production.ini), modifies the URL of public catalog and the API key this way.

#odn.ic2pc.src.ckan.url = http://localhost:9080/internalcatalog
#odn.ic2pc.dst.ckan.url = http://ast.comsode.eea.sk
#odn.ic2pc.dst.ckan.api.key =  1d8bf54d-598b-4f41-95a2-0509883771ed

odn.ic2pc.dst.ckan.url = http://demo.ckan.org
odn.ic2pc.dst.ckan.api.key

[2015-05-21 13:43] Jan-Marcek commented on #122
fixed by https://github.com/OpenDataNode/odn-box/commit/916b60121eaa23e1a6925e2663bad90a5b5afcc1

[2015-05-21 13:43] #122 closed

[2015-05-22 06:47] OskarStoffan opened #125 "Size of Data API window in CKAN"
Click to 'Data API' button on REST API resource of a dataset.
Width of CKAN Data API window is not correct (text is not readable).
TCs: ODN-78, ODN-79

[2015-05-22 06:58] OskarStoffan opened #126 "Minimal HW configuration defined for ODN is insufficient"
Minimal HW configuration defined (1 vCPU 8GB RAM 10GB storage for system 5GB storage for data) seems to be insufficient.
Significant worsening of response times has been experienced during testing (mainly during pipeline executions or other transactions performed in ODN/UV).
The diskspace configuration is considered insufficient as well. We ran out of disks pace quite soon after a few datasets (wi

[2015-05-22 07:32] #103 closed

[2015-05-22 16:08] #118 closed

[2015-05-22 16:13] skrchnavy commented on #115
fixed in /OpenDataNode/odn-box@9cf5b556556282e026a0cc679e7292321dfd28a2

[2015-05-22 16:13] #115 closed

[2015-05-25 12:45] Jan-Marcek opened #127 "unable create pipeline via ckan when user haven't logged to uv"
If a user has never logged to unifiedviews then he is unable create pipeline via ckan

[2015-05-25 12:50] Jan-Marcek opened #128 "unifiedviews: Excessive logging"
Logging of backend and frontend are set to DEBUG level. It should be set to INFO at production.

TCID: ODN-371

[2015-05-25 12:54] Jan-Marcek opened #129 "Internal catalog: size of resources is too low in default installation"
Size of resource is set to 10 MB . It is too low. For instance SAZP pipelines produce resources with size cca 150 MB

by default size is set to 10 MB.
https://github.com/OpenDataNode/odn-box/blob/master/ckan-ic/production.ini#L186

[2015-05-27 12:25] jindrichmynarz opened #130 "Syntax error when user session in UnifiedViews expires"
When user session in UnifiedViews expires, CAS login request appears reporting syntax error: `(SyntaxError) : Unexpected identifier - Original JSON-text:PE html>`

![screenshot](https://cloud.githubusercontent.com/assets/198642/7835863/3e49f584-047c-11e5-9bce-1ee24a71db67.png)

Also note that the login request popup appears twice, possibly as a result of 2 successive session timeouts.

Context: I'

[2015-05-27 13:04] eea71 opened #131 "Bad err msg and behaviour when Pipeline Name already exists."
I tried to create pipeline and I used NAME already existing pipeline. Internal catalog rised error and not stayed at the present page, but pushed me at the next page. Button BACK returned me at the position when all pipelines are listed.
![image](https://cloud.githubusercontent.com/assets/10993265/7836603/a9fe77c8-0481-11e5-98e7-f87909bb383c.png)

Right behaviour is to rise err msg like: Pipeline

[2015-05-27 14:02] Jan-Marcek commented on #115
also ckanext-odn-ic2pc-sync has to support https. https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/issues/15

[2015-05-29 06:59] Jan-Marcek commented on #128
frontend.log
[code]

[2015-05-29 07:03] Jan-Marcek commented on #128
changed logging level to INFO for frontend https://github.com/UnifiedViews/Core/commit/68ebfa5a058b66f85769462ad1f1fd6d0fec772c

[2015-05-29 07:11] Jan-Marcek commented on #128
changed logging level to INFO for backend https://github.com/UnifiedViews/Core/commit/365c7cfc5727a9258780bf8fdcc0b4dbc7ad6ee1

[2015-05-29 07:36] eea71 opened #132 "URL of dataset dont changing after TITLE is changed!"
I created dataset with Title = URL already existing. After SAVE err msg was rised.
![image](https://cloud.githubusercontent.com/assets/10993265/7878330/fa848d9e-05e5-11e5-8b6e-bc152092c2d1.png)

Consequently I chaged TITLE. Push SAVE. The same err msg was rised. URL stayed still the same, no chage was mad after editing TITLE. Is not OK.
![image](https://cloud.githubusercontent.com/assets/10993265/

[2015-06-01 10:31] skrchnavy commented on #102
fixed in OpenDataNode/ckanext-odn-theme@157a7d97cb9abda7a8fdf1466655379a4259a3f5

[2015-06-01 10:31] #102 closed

[2015-06-01 10:35] skrchnavy commented on #128
Included in UV core v2.0.2

[2015-06-01 10:40] skrchnavy commented on #118
included in UV core v2.0.2

[2015-06-01 10:41] skrchnavy commented on #115
included in odn box v1.0.2

[2015-06-01 10:49] OskarStoffan opened #133 "Log out problem"
When 'log out' is clicked in ODN/IC, user is logged out from ODN/IC and ODN/MidPoint (user remains logged in in ODN/UV).
When 'log out' is clicked in ODN/UV, user is logged out from ODN/UV and ODN/MidPoint (user remains logged in in ODN/IC).
When 'log out' is clicked in ODN/MidPoint, user is logged out from ODN/MidPoint (user remains logged in in ODN/UV and ODN/IC).

TC ID: ODN-64

[2015-06-01 11:27] skrchnavy commented on #121
Depends on OpenDataNode/ckanext-odn-ic2pc-sync#16

[2015-06-01 11:27] skrchnavy commented on #97
@peterklimo what is status?

[2015-06-01 11:33] skrchnavy commented on #131
depends on OpenDataNode/ckanext-odn-pipeline#3

[2015-06-01 11:38] eea71 opened #134 "Midpoint organization vs. ODN organization."
There is no validation/verification of organization entered in midpoint whne user is created. User automatically obtained ODN default organization when IC and UV is opened.

[2015-06-01 11:41] skrchnavy commented on #129
@hanecak Do we want to increase the default size in the installation? Isn't 10MB for files enough?

[2015-06-01 11:43] skrchnavy commented on #134
@eea71 could you please provide some steps to reproduce the issue?

[2015-06-01 11:45] skrchnavy commented on #132
@mvi-eea-sk please provide feedback if this is bug or feature of CKAN

[2015-06-01 11:47] eea71 commented on #134
I created user with organization comsooooooode which is not at the ODN. Was normally saved. After login into IC newly created user had organization comsode.

[2015-06-01 11:50] skrchnavy opened #135 "sto_79: Verify the configuration of external catalog"
[sto_79: Verify the configuration of external catalog](https://utopia.sk/wiki/x/y4AuAw)

[2015-06-01 11:57] skrchnavy commented on #50
related to #135 - not implemented yet.

[2015-06-01 11:57] #50 closed

[2015-06-01 11:59] skrchnavy commented on #51
related to #135 - not implemented yet.

[2015-06-01 11:59] #51 closed

[2015-06-01 12:00] skrchnavy commented on #52
@eea71 is this valid in v1.0.2?

[2015-06-01 12:02] skrchnavy commented on #60
@eea71  is this duplicate of #52 ?

[2015-06-01 12:05] skrchnavy commented on #61
@eea71 where can I find this behaviour? (some steps to reproduce would be nice)

[2015-06-01 12:07] eea71 commented on #105
Bugs:
Password is NOT mandatory at the moment!
Email address has no validation!
Organization can be anything!

[2015-06-01 12:07] skrchnavy commented on #62
@mvi-eea-sk / @eea71 - is this bug or feature? (I expect this is vanilla CKAN implementation reused in ODN/IC)

[2015-06-01 12:08] skrchnavy commented on #63
@mvi-eea-sk Is this feature of vanilla CKAN? Or bug there or bug in ODN-CKAN?

[2015-06-01 12:15] skrchnavy commented on #64
@OskarStoffan / @hanecak - How to cope with this situation? Do we want to allow to create a dataset that was already created in the past?

[2015-06-01 12:17] skrchnavy opened #136 "sto_74: Default organization"
[sto_74: Default organization](https://utopia.sk/wiki/x/tgApAw)

[2015-06-01 12:22] skrchnavy opened #137 "sto_48: Termination of dataset maintenance"
[sto_48: Termination of dataset maintenance](https://utopia.sk/wiki/x/YYP5Ag)

[2015-06-01 12:23] skrchnavy opened #138 "sto_49: Termination of publication of dataset"
[sto_49: Termination of publication of dataset](https://utopia.sk/wiki/x/Z4P5Ag)

[2015-06-01 12:24] skrchnavy commented on #64
Related to stories #137 and #138

[2015-06-01 12:26] skrchnavy commented on #133
@OskarStoffan isn't this duplicate of #95 ?

[2015-06-01 12:27] #65 closed

[2015-06-01 12:28] skrchnavy commented on #70
@eea71 - is this also valid for the version 1.0.2?

[2015-06-01 12:30] skrchnavy commented on #67
@eea71 is this also present in v1.0.2 or is it already fixed?

[2015-06-01 13:14] skrchnavy commented on #80
@OskarStoffan / @eea71 isn't this related to #50 and #51 (also to user story #135) ?

[2015-06-01 13:16] skrchnavy commented on #79
@eea71  isn't this duplicate of #119 ?

[2015-06-01 13:21] #77 closed

[2015-06-01 13:24] #74 closed

[2015-06-01 13:25] skrchnavy commented on #74
related also to #77

[2015-06-01 13:25] skrchnavy commented on #77
Related to #76

[2015-06-01 13:31] skrchnavy commented on #73
UV core issue created: UnifiedViews/Core#399

[2015-06-01 13:34] skrchnavy opened #139 "Frontend: It is not intuitive how to Edit name and desc of pipeline."
Based on OpenDataNode/open-data-node#69

It is not intuitive how to Edit name and desc of pipeline. The mark ^ next to name of pipeline is not very often used in apps for it.
see picture in  OpenDataNode/open-data-node#69

[2015-06-01 13:36] skrchnavy commented on #139
Issue created in wrong repository, closed as invalid

[2015-06-01 13:36] #139 closed

[2015-06-01 13:37] skrchnavy commented on #69
issue in UV core created: UnifiedViews/Core#400

[2015-06-01 13:38] #68 closed

[2015-06-01 13:53] skrchnavy commented on #75
@mvi-eea-sk is this issue in vanilla CKAN? Or a theming issue?

[2015-06-01 13:54] skrchnavy commented on #76
@mvi-eea-sk is this default behaviour of vanilla CKAN? Is there a feature for it available that such sorting is expected?

[2015-06-01 14:11] skrchnavy commented on #134
Related to #26 and #27 where is defined that user is assigned to default organisation, new story to be created to manage organisations. For now 'paused'.

[2015-06-01 14:29] skrchnavy commented on #106
Documentation issue.

[2015-06-01 14:36] skrchnavy commented on #127
Related to #111 and also depends on implementation of #34 where shall be implemented user provisioning from midpoint to UV.

[2015-06-01 14:40] skrchnavy commented on #120
@mvi-eea-sk is this bug in vanilla CKAN?

[2015-06-01 14:43] skrchnavy commented on #123
@eea71 do we have a pipeline? Or could you provide list of DPUs that were used to publish these data and important configuration?
Shouldn't we split this issue into separate problems?

[2015-06-01 14:46] skrchnavy commented on #119
@hanecak do we want to fix this issue? that is to support previews even for server that is not accessible from the internet?
There could be setup when ODN/IC is not accessible from internet only from local sites. Or other reasons.

[2015-06-02 07:11] eea71 opened #140 "Full text search for dataset searching is not correct - IC."
In this moment in https://ast.comsode.eea.sk/internalcatalog/
there is several datasets, which has the name dataset at the Title and at the URL.
If I put this key into search "dataset" I obtain only 1 result.
But there is minimally 4 datasets with this string at the Title/URL.

ODN-21:Catalog records search using keywords

[2015-06-02 07:46] eea71 opened #141 "Full text search for dataset searching is not correct - PC."
In this moment in https://ast.comsode.eea.sk/
there is several datasets, which has the name dataset at the Title and at the URL.
If I put this key into search "dataset" I obtain only 1 result.
But there is minimally 4 datasets with this string at the Title/URL.

TCID: ODN-27

[2015-06-02 07:50] #75 closed

[2015-06-02 08:24] skrchnavy commented on #126
Shouldn't be defined criteria for minimal requirements? We shall calculate installation space for minimal requirements (including space for loging) and extra space for data (datastore, filestore, tripplestore) with some calculation based on expected size of data (resources) in dataset)

[2015-06-02 09:14] Jan-Marcek commented on #79
@mvi-eea-sk odn.storage.file.uri.template = http://$HOSTNAME/dump/{storage_id} from https://github.com/OpenDataNode/odn-box/blob/master/ckan-ic/production.ini#L144

[2015-06-02 09:54] skrchnavy opened #142 "SOLR admin is visible from outside on http"
Wrong configuration of tomcat that listens by default on all interfaces.

TCID: ODN-378

[2015-06-02 10:50] eea71 opened #143 "Pipeline execution bug."
When a pipeline is associated with a dataset and is executed by 'Execute now' (from internal catalog), it fails. The same pipeline when executed directly from ODN/UV (in Pipelines or Execution monitor tab) finishes with status OK (resources in CKAN are created correctly in this case).

Type:
PIPELINE_ERROR
Short message:
Pipeline execution failed.
Message:
Execution failed because: Could not obtai

[2015-06-02 11:19] mvi-eea-sk commented on #76
@skrchnavy
yes this is default behaviour

[2015-06-02 11:19] skrchnavy commented on #143
reported in OpenDataNode/UVPlugin-filesToCKAN#7

[2015-06-02 11:23] skrchnavy commented on #76
could be related to ckan/ckan#912 where also display was incorrect. so probably sorting is wrong.

[2015-06-02 11:25] skrchnavy commented on #76
isn't this a fix? ckan/ckan#2086

[2015-06-02 11:31] mvi-eea-sk commented on #76
We are talking about dataset sorting not oraganization sorting.

[2015-06-02 11:35] OskarStoffan opened #144 "CKAN Data API window (help) content is inappropriate"
The content of CKAN Data API window should be reviewed and modified.

1. Using CKAN's REST API for  Create and Update actions is not allowed - it should not be mentioned at all.

2. The examples mentioned should contain the list of all parameters usable with datastore_search action

[2015-06-02 11:48] eea71 opened #145 "Midpoint User Edit Message!"
I clicked at the existing user and remove Full Name. Appears err msg window.
![image](https://cloud.githubusercontent.com/assets/10993265/7935079/10b21050-092e-11e5-9ac2-4210be29a41b.png)

ODN-362:Modify user's profile and its role (missing mandatory attributes)
ODN-360:Modify user's own user profile (missing mandatory attributes)
ODN-42:Modify user's profile and its role (valid)

[2015-06-02 11:49] skrchnavy commented on #76
Dataset ordering was fixed here: ckan/ckan#1368 (ckan/ckan@3a00b572e795e03b915f6250dfed8b83aad768f7), it was unified to match with the main search (based on the comment in commit).
Please check if it is OK or if we shall report bug against CKAN.

[2015-06-02 12:02] eea71 opened #146 "Question about Midpoint adding another LDAP account. Is this correct?"
At the existing user I wanted to add another LDAP account (action without sense). It was possible, requested was username. I wrote something like "uiuiui". Err msg was rised.
![image](https://cloud.githubusercontent.com/assets/10993265/7935278/ef0be5b4-092f-11e5-9b60-c5a35e72cd31.png)

[2015-06-02 12:04] mkl-eea-sk commented on #143
Which environment I can use for testing? At ideal, the host which
triggered the error please.

On 06/02/2015 01:20 PM, skrchnavy wrote:

[2015-06-02 12:06] eea71 commented on #143
https://ast.comsode.eea.sk/internalcatalog/

user:casadmin
pwd according install manual

https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.2

[2015-06-02 12:18] eea71 opened #147 "Midpoint Disabled user logged into IC and UV."
I created user Administrator in midpoint. I saved. Consequently I edited and Disabled this user.
I close all windows. I open FF nad logged with this disabled user into IC, via Tools I logged into UV.
Without Problems!!! Via Tools I wanted to log into User management. I obtained this.
![image](https://cloud.githubusercontent.com/assets/10993265/7935529/fb8d605e-0931-11e5-98bc-3cf764ec3de5.png)

Onl

[2015-06-02 12:36] skrchnavy commented on #147
@eea71 did you pressed reconcile? You shall not be logged into CAS (login shall be unsuccessful)

[2015-06-02 15:42] skrchnavy commented on #92
@OskarStoffan are you able to reproduce it with 2.0.2 release?

[2015-06-03 07:21] mkl-eea-sk commented on #143
eea71 triggers this error using different technique from https://github.com/OpenDataNode/UVPlugin-filesToCKAN/issues/7. Here, the ppl is executed from CKAN, in https://github.com/OpenDataNode/UVPlugin-filesToCKAN/issues/7 the ppl is "run for first time". This may or may not be relevant - it may or may not be two bugs.

[2015-06-03 07:23] #92 closed

[2015-06-03 08:46] eea71 opened #148 "Missing Rest API button in Public catalog."
I created pipeline with otuput to DPU uv-l-relationalToCkan. In internal catalog I see REST API button with links to data. Dataset is PUBLIC! In public catalog I dont see button REST API.

ODN-78 :: Version : 1 :: Retrieving public data from a dataset via REST API

[2015-06-03 09:14] #121 closed

[2015-06-03 09:41] OskarStoffan commented on #117
![user profile](https://cloud.githubusercontent.com/assets/8984799/7957146/831367d6-09e5-11e5-9ce5-c13f6605bce1.png)

[2015-06-03 10:34] mvi-eea-sk commented on #79
@Jan-Marcek but we do set it in internal catalog
because the url is synchronized from IC, there is a need to set it in IC not PC

[2015-06-03 10:55] Jan-Marcek commented on #79
Probably summer has impact on us :)
ic - odn.storage.file.uri.template is set  at - https://github.com/OpenDataNode/odn-box/blob/master/ckan-ic/production.ini#L144

pc - odn.storage.file.uri.template is NOT set  at -https://github.com/OpenDataNode/odn-box/blob/master/ckan-pc/production.ini

[2015-06-03 11:38] peterklimo commented on #96
fixed and tested in 1.0.2

[2015-06-03 11:39] peterklimo commented on #97
fixed and tested in 1.0.2

[2015-06-03 11:40] peterklimo commented on #145
fixed and tested in 1.0.2

[2015-06-03 13:36] hanecak commented on #126
Without resolving https://github.com/UnifiedViews/Core/issues/362 and https://github.com/UnifiedViews/Core/issues/394 it would be hard to justify increase of minimal HW requirements. Please take a look at those issues first (while at it, check also other ODN modules).

After that is resolved and minimal requirements will still be considered inadequate even for testing, we can get back to this.

[2015-06-04 09:51] maurino1973 opened #149 "missing licence"
There is no possibile to add a new licence (e.g. the italian  open data licence 2.0 http://www.dati.gov.it/iodl/2.0/). I suggest to
1) add this licence in the official distribution of the ODN
2) make the possibility to add a new own licence

[2015-06-04 13:11] OskarStoffan commented on #66
DPU was deprecated in 1.0.0 and replaced by uv-l-filesUpload

[2015-06-04 13:21] jindrichmynarz opened #150 "Adding CKAN user to the public catalogue fails due to non-ASCII characters"
When I wanted to install ODN 1.0.2, the installation failed on adding a CKAN user to the public catalogue:

[code]

As the traceback indicates, the error is caused by non-ASCII characters ("ř") that cannot be serialized. This suggests that it is a bug in CKAN. We should investigate what is the root cause of this problem and report it upstream to CKAN maintainers if it turns out to be a generic iss

[2015-06-04 14:43] mvi-eea-sk commented on #148
fixed in https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/e6ec58b77e58005cce007cb66ab628c7e925775a

Cause: synchronizing resource failed because of wrongly set indexes when creating datastore resource

@eea71 I also deployed it on ast test server

[2015-06-05 06:54] OskarStoffan commented on #142
please add some description how to test whether this is resolved or not

[2015-06-05 07:01] peterklimo commented on #142
solr admin is visible on following url:

http://<hostname>:8983/solr

this has to be disabled, only url where it has to be visible is

http://localhost:8983/solr

in other words solr should not be visible from outside

On Fri, Jun 5, 2015 at 8:54 AM, OskarStoffan <notifications@github.com>
wrote:

[2015-06-05 08:29] mvi-eea-sk commented on #116
@skrchnavy and @eea71
this was "fixed" in 1.0.2 release, so you can see and associate all unassociated pipelines (even another organization pipelines)
this will be properly fixed in 1.0.3

[2015-06-05 10:23] OskarStoffan commented on #105
#97

[2015-06-05 10:37] OskarStoffan commented on #144
related bug: #125 Size of Data API window in CKAN

[2015-06-05 10:58] skrchnavy commented on #145
@eea71 please verify in 1.0.2

[2015-06-05 11:22] skrchnavy commented on #116
@eea71 please verify in 1.0.2

[2015-06-05 11:46] mvi-eea-sk commented on #76
problem is that the search is case sensitive @peterklimo is editing solr schema

[2015-06-05 11:51] mvi-eea-sk commented on #79
@eea71 can you confirm this bug still occurs in release 1.0.2?
if not close this issue

[2015-06-05 12:08] eea71 commented on #79
Seems now is ok...

[2015-06-05 12:25] skrchnavy commented on #79
@eea71 did it passed on v1.0.2 or v1.0.3 in preparation?

[2015-06-05 12:32] eea71 commented on #79
in 1.0.2 version seems is ok..

[2015-06-05 12:42] skrchnavy commented on #142
Is there any commit that resolves the issue?

[2015-06-05 12:52] peterklimo commented on #142
see comit 32692f0

On Fri, Jun 5, 2015 at 2:42 PM, skrchnavy <notifications@github.com> wrote:

[2015-06-05 12:52] #79 closed

[2015-06-05 13:54] skrchnavy commented on #150
Priority downgraded, this is not critical. Workaround is to use ascii chars in names.

[2015-06-05 14:03] jindrichmynarz commented on #150
I believe this is a problem of the vanilla instance of ODN, which probably uses some non-ASCII characters in user names. While it may be a CKAN's bug, we should check if ODN installer does not create non-ASCII user names. If that's the case, it's a high-priority bug because it makes ODN 1.0.2 installation fail.

@Jan-Marcek, can you please comment, where the non-ASCII characters might come from?

[2015-06-05 14:07] skrchnavy commented on #149
List of licenses is configurable in production.ini file.
How to extend it manually is described in http://docs.ckan.org/en/ckan-2.3/maintaining/configuration.html#licenses-group-url

Currently we use list defined by CKAN (no changes to default is done), so this list is used: http://licenses.opendefinition.org/licenses/groups/ckan.json.
If we want to support another set, updated json file can be in

[2015-06-05 14:22] skrchnavy commented on #96
@eea71 please verify

[2015-06-06 15:57] jindrichmynarz opened #151 "CKAN administration of the internal catalogue is inaccessible"
While the CKAN administration of the public catalogue (i.e. `/ckan-admin`) is accessible (with the default admin:admin user), the CKAN administration of the internal catalogue (i.e. `/internal-catalog/ckan-admin`) is not accessible; the default casadmin user is unauthorized to access it. Is this the expected behaviour? I'd expect the admin user to be able to access the CKAN administration of the i

[2015-06-08 07:06] Jan-Marcek commented on #126
I think the main problem was Midpoint excessive logging - https://github.com/OpenDataNode/open-data-node/issues/122 . Issues UnifiedViews/Core#362 and UnifiedViews/Core#394 depends on pipeline running, but https://github.com/OpenDataNode/open-data-node/issues/122 doesn't . It
literally generates a 1 GB of logs per day without doing anything.

[2015-06-08 07:20] Jan-Marcek commented on #64
Hm. ```A dataset which has been deleted is not permanently removed from CKAN; it is simply marked as ‘deleted’ and will no longer show up in search, etc. The dataset’s URL cannot be re-used for a new dataset.``` from [ckan dos](http://docs.ckan.org/en/latest/sysadmin-guide.html).

User has to purge dataset.

[2015-06-08 08:02] skrchnavy commented on #64
@OskarStoffan / @hanecak please update proper user stories (acceptance criteria) with decision about create dataset withe the name that exists and that have been deleted.

[2015-06-09 13:37] eea71 commented on #143
This bug appears each time pipeline is running in actual tested release on environment mentioned above. Each running from ODN/IC is failed and each running from ODN/UV is scuccessfull. There is no problem to simulate this bug several times. And unfortunately, I think this bug wasn't in previous version. :-(

[2015-06-10 08:58] mvi-eea-sk commented on #125
fixed in https://github.com/OpenDataNode/ckanext-odn-theme/commit/053811593ff1a368db447f8839e4cedcdbc184f6

[2015-06-10 09:05] mvi-eea-sk commented on #144
It would be good to specify the exact content  it should have.

[2015-06-10 09:20] mvi-eea-sk commented on #151
@skrchnavy should casadmin have the right to do this?
The access to this allowed only to sysadmins of CKAN. To assign someone as sysadmin certain paster command has to be started from command line.

The sysadmin can among other things do:
* user management in CKAN
* change some CKAN properties
* purge (permanently delete) datasets <- this may be important

[2015-06-10 09:27] mvi-eea-sk commented on #124
odn.ic2pc.src.ckan.url = http://localhost:9080/internalcatalog
musn't be deleted !
You can change the destination CKAN url and API key but, the source CKAN has to be there too!

[2015-06-10 11:04] skrchnavy commented on #151
it is expected behaviour, but we need ODN admin also. So this requirement is valid but must be done in ODN.

[2015-06-10 11:17] eea71 opened #152 "Creating same user in Midpoint raise error msg."
I create new user. Than I did the same action secon time. It rised err msg with exception.
![image](https://cloud.githubusercontent.com/assets/10993265/8081175/0c9468ec-0f73-11e5-84cd-bbdf59ec6a4d.png)

[2015-06-10 13:10] mvi-eea-sk commented on #80
fixedin https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/833e75aaa0d7a09624f03d840b6e31bcbe3f677b
Note: this fix is not catalog verification, only url validation

[2015-06-10 14:14] hanecak commented on #119
@skrchnavy in short: Yes, we do want to fix that. ODN/InternalCatalog as a whole is "private stuff", yet we do want data preview to work also in there.

Longer story: According to COMSODE Methodology, dataset publisher - during preparation phase - will be working primarily in ODN/InternalCatalog and most often keep the stuff "private" while it not yet fully ready for public consumption. And ODN/In

[2015-06-10 14:28] skrchnavy commented on #86
@jindrichmynarz is this relevant also for odn 1.0.X (1.0.2) ?

[2015-06-10 14:36] skrchnavy commented on #131
OpenDataNode/ckanext-odn-pipeline#3 closed, so verifcation needed

[2015-06-10 15:55] jindrichmynarz commented on #86
In ODN 1.0.2 as casadmin I'm not authorized to access `/internalcatalog/ckan-admin/config`, because we lack CKAN admin user (#151). `/ckan-config/config` in the public catalogue can be access by admin/admin, but it still seems to have no effect. For example, I changed the site's title and observed no change.

[2015-06-11 11:08] mvi-eea-sk commented on #132
Hard to say if it's bug or not.
The error message (more or less) clearly says that you have to change the name / url. You don't have to change the title to make the formular valid.

On other side when you first time open the create dataset formular, the name / url is automatically generated / changed according to what the title was set / changed.

[2015-06-11 12:25] eea71 commented on #131
Without change...

[2015-06-11 12:36] eea71 commented on #145
If something making problems, remove IT. ;-)

[2015-06-11 12:42] eea71 commented on #80
Without change...

[2015-06-11 12:55] mvi-eea-sk commented on #131
@skrchnavy That's why i changed the state to "in progress"

Most of the changes i have already done here: https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/e956add90795ed6098321b9bb13c77b2dd900708

Currently, I am waiting for changes in UV API that will make it so the calls will return proper error messages for me to display them to user. Otherwise I can only display some general error m

[2015-06-11 12:59] mvi-eea-sk commented on #131
related to https://github.com/OpenDataNode/ckanext-odn-pipeline/issues/4

[2015-06-11 13:07] eea71 commented on #125
by myself ok!

[2015-06-11 13:22] eea71 commented on #141
problem with *set* in PC different result like in IC

[2015-06-12 06:45] Jan-Marcek commented on #86
One day I have observed...

It could be caused by the fact that the site title is configured in https://github.com/OpenDataNode/odn-box/blob/master/ckan-pc/production.ini#L104

Probably production.ini could have higher priority than gui

[2015-06-12 07:08] skrchnavy commented on #86
I think it works correctly in configuration point of view (title set in DB has higher priority then the value in ini file).
Unfortunately, Site Title (ckan.site_title) is displayed in browser tab / window name) not in the part next to logo.

[2015-06-12 07:10] skrchnavy commented on #86
Error Issue title changed to reflect expectation

[2015-06-12 07:36] Jan-Marcek opened #153 "Could not obtain dataset"
A user is logged as casadmin. the user runs a pipeline with DPU - uv-l-filesToCkan via ckan.
The pipeline execution fails. - it was run as admin. It should be run as casadmin

When the user executes the pipeline manually from unifiedviews then it successfully finishes. In this case unifiedviews executes the pipeline as casadmin.

[code]

[2015-06-12 09:11] mvi-eea-sk commented on #80
that fix isn't included in 1.0.3 release and i didn't deploy it to test (ast) server, should i deploy it?

[2015-06-12 09:25] Jan-Marcek commented on #153
resolved by https://github.com/UnifiedViews/Core/commit/c65a6aebb21fcef85e410dc15a061f3b962e8daa

[2015-06-12 09:43] Jan-Marcek commented on #153
might be related https://github.com/OpenDataNode/open-data-node/issues/127

[2015-06-17 12:42] #153 closed

[2015-06-17 12:43] #148 closed

[2015-06-17 12:44] #145 closed

[2015-06-17 12:45] #142 closed

[2015-06-17 12:46] #140 closed

[2015-06-17 12:46] #125 closed

[2015-06-17 12:46] #116 closed

[2015-06-17 12:47] #97 closed

[2015-06-17 12:47] #96 closed

[2015-06-18 09:21] peterklimo commented on #105
"Password is NOT mandatory at the moment!" - fixed in 1.0.3
Email is mandatory but is not checked for email pattern with @
Organization will be redesigned in next release

[2015-06-18 09:21] peterklimo commented on #147
fixed in 1.0.3

[2015-06-18 09:22] #147 closed

[2015-06-18 09:42] mvi-eea-sk opened #154 "CKAN datastore: no view created"
In 2.3 CKAN, there is no view generated in resource detail when using dpus:
* relationalToCkan
* relationalDiffToCkan

The resource is created correctly and data is inserted too, only the recline view isn't generated automatically and has to be added manually.

TCID: ODN-78, ODN-79

[2015-06-18 09:45] mvi-eea-sk commented on #154
submitted the issue here https://github.com/ckan/ckan/issues/2473

and temporary fixes:
https://github.com/OpenDataNode/UVPlugin-relationalToCKAN/commit/2fac1b2dde6764ad3d1516d070ca38def1647077
https://github.com/OpenDataNode/UVPlugin-relationalDiffToCKAN/commit/dce1cbee9ca4673a8641612f00a46324dea58ec3

[2015-06-19 06:19] mkl-eea-sk opened #155 "After installation, user Administrator have invalid configuration"
- Install Open+Data+Node+v1.0.2.
- Open /midpoint
- Users/List
- select Administrator
- select gearbox under the photo-> show empty fields
- set him new password
- save

What you get is error about mandatory fields. So after installation, the ODN is in invalid state - mandatory fields are not pre-filled. So they are not-so-mandatory-fields.
![screenshot - 06192015 - 08 18 45 am](https://cloud.gith

[2015-06-19 14:34] skrchnavy commented on #155
Is this valid also for v1.0.3?

[2015-06-24 05:36] mkl-eea-sk commented on #155
This issue is present in clean install ODN v1.0.3

[2015-06-24 05:38] mkl-eea-sk opened #156 "After installation, I do not know how to log in internal catalog"
In this wiki
https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3
there is a table of default users created after installation (well, since there is different user for each piece of software, is this even 'CAS'-like solution?), but in fields:
ODN/InternalCatalog	see ODN/CAS	see ODN/CAS	CKAN editor
Unified Views	see ODN/CAS	see ODN/CAS	Administrator, User
is "see ODN/CAS".
Where exactly can I s

[2015-06-24 05:46] skrchnavy commented on #156
https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3 updated

[2015-06-24 05:46] mkl-eea-sk opened #157 "After installation, which user I am recommended to use to log into various components?"
After clean installing ODN v1.0.3, which user I am recommended by authors, to use for whole ODN installation?
In midpoint, there is casadmin. From name, it suggests to be used as admin of CAS (is it true that CAS = midpoint in this case?). And there is administrator. But administrator has "Full name 	midPoint Administrator", which suggests to be used as admin of midpoint... well, which user should

[2015-06-24 05:49] skrchnavy commented on #157
see updated https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3
Was system updated from 1.0.2 or clean install of 1.0.3?

[2015-06-24 06:14] mkl-eea-sk commented on #157
Clean install.

[2015-06-24 09:02] mvi-eea-sk commented on #156
@skrchnavy what exactly should I fix/do here?

[2015-06-24 09:07] Jan-Marcek commented on #157
[code]
casadmin - https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3

[code]
No, please use casadmin.

[code]

please use casadmin.

Hint: you can login into midpoint without cas by  administrator 5ecr3 via https://host/midpoint/login from
 https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3.
through cas  use casadmin via https://host/midpoint/ . Both method are possible

[2015-06-24 09:33] mkl-eea-sk commented on #156
Just a note "After installing, go and use the components (log in using casadmin)" would be sufficient in install guide.

[2015-06-24 09:36] mvi-eea-sk commented on #123
I assume relationToCkan or relationalDiffToCkan DPU was used as loader
a) don't know ...
b) related and fixed in #154
c) the problem is, that the link to datastore resource is relative:
/internalcatalog/datastore/dump/{here is the resource id}
in the template for resource there is check if the url is valid. the relative url doesn't pass this check. So the url is made not to be clickable and even t

[2015-06-24 09:39] mvi-eea-sk commented on #154
@Jan-Marcek can you please check, if the appropriate version of these DPU's is used in the release?

[2015-06-24 09:43] skrchnavy commented on #156
updated

[2015-06-24 10:28] #156 closed

[2015-06-24 10:58] Jan-Marcek commented on #154
@peterklimo dont forget rise versions of https://github.com/OpenDataNode/ODN-UV-Plugins

[2015-06-24 11:29] Jan-Marcek commented on #157
The page https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.0.3 was updated. Feel free to open this issue if you have more related questions.

[2015-06-24 11:29] #157 closed

[2015-06-24 14:33] mvi-eea-sk commented on #63
I would say its feature.
CKAN doesn't remember you page view history, so it can't know where to redirect to. It's set to redirect to Datasets tab regardless if you came from that tab or Organization datasets tab. Generally dataset doesn't have to belong to organization.

[2015-06-24 16:46] skrchnavy commented on #63
@eea71 / @OskarStoffan : is this acceptable behaviour? Is delete dataset expected feature?

[2015-06-24 20:46] OskarStoffan commented on #63
According to COMSODE methodology, deletion of a dataset is not an expected feature.

[2015-06-25 08:14] skrchnavy commented on #63
There are defined stories #137 and #138 for termination of dataset. So delete button is for now not properly handled based on the stories (not implemented yet).
This issue is closed as wan't fix

[2015-06-25 08:14] #63 closed

[2015-06-25 08:24] mvi-eea-sk commented on #110
For now, changing the dataset to private or deleting it in IC just disables the synchronization. The synchronized dataset in PC stays as it is.

[2015-06-25 08:46] mvi-eea-sk commented on #83
@skrchnavy: synchronization is dependent on resource name to identify if it should create/update resource on targeted catalog.

In one of previous fixes:
* the error message was made to be more clearer what the synchronization error was
* failing to create/update resource won't interrupt the process

The question is: should i change validation schema for creating/updating resource through GUI / AP

[2015-06-25 08:56] mvi-eea-sk commented on #67
duplicate of #79 which is already closed and fixed

[2015-06-25 08:56] #67 closed

[2015-06-25 09:02] mvi-eea-sk commented on #132
related to #62

[2015-06-25 10:44] skrchnavy commented on #132
@OskarStoffan could you specify expected behaviour in proper user story? Then we can solve this issue as bug.

[2015-06-25 10:48] skrchnavy commented on #83
All parameters mandatory for synchronization have to be validated as mandatory and with proper syntax.
Synchronization must run smoothly for all datasets in internal catalog that are set 'public'

[2015-06-29 13:13] eea71 commented on #143
In actual tested versions on https://odn-trencin/internalcatalog and https://demo.comsode.eu/internalcatalog is not possible to simulate it. Seems was fixed.

[2015-06-29 13:26] skrchnavy commented on #143
closing as fixed in 1.0.3.

[2015-06-29 13:31] #143 closed

[2015-06-30 07:01] jindrichmynarz opened #158 "Error in sed when upgrading to 1.0.3"
When I upgrade from v1.0.2 to v1.0.3 using `sudo apt-get upgrade odn-simple`, an error in `sed` is reported:

[code]

[2015-06-30 09:22] Jan-Marcek commented on #158
@jindrichmynarz I can't reproduce even by calling same token. Please provide /var/log/apt/*

[2015-06-30 12:43] Jan-Marcek commented on #158
It seems that you installed strange version of odn-simple.
your postinstall of odn-simple : from ``` dpkg-deb -e /var/cache/apt/archives/odn-simple_1.0.3_all.deb /tmp/out``` which comes from  https://github.com/OpenDataNode/odn-box/commit/24ab372b72fd0fa22dcdb4ad23cdbd7b65b1e603
[code]

The version of odn-simple in https://github.com/OpenDataNode/odn-box/commit/24ab372b72fd0fa22dcdb4ad23cdbd7b65b1

[2015-06-30 12:54] jindrichmynarz commented on #158
I have done `apt-get update`. Now, I executed `apt-get update && apt-get upgrade odn-simple` and got the same error.

[2015-06-30 13:57] Jan-Marcek commented on #158
OK :) there is two mistakes .

The first - there is small bug: a function - https://github.com/OpenDataNode/odn-box/blob/ODN_v1.0.3/debian/odn-simple.postinst#L217 extracts: ```LdZJCSvxC2ciVkhcKlNyUmfjqvsOzX7L 8dwCle1iduagLpr1FfIJGwAsfFfmFddr ``` - bug in regexp. -  it is fixed by - https://github.com/OpenDataNode/odn-box/commit/540ade967c16898f961555d496789cb9e78a8f36

It is all because ```/etc/u

[2015-06-30 14:00] #158 closed

[2015-07-01 14:10] eea71 opened #159 "UV enables to remove associated pipeline."
I created pipeline and associate it to dataset. Consequently I run it. Then I remove pipeline from UV. I referesh page with dataset pipelines and I obtained this.
![image](https://cloud.githubusercontent.com/assets/10993265/8456431/a2c2290a-200b-11e5-879e-fc4504ac6fed.png)

[2015-07-02 11:14] eea71 commented on #141
actual environment ast.comsode.eea.sk
![image](https://cloud.githubusercontent.com/assets/10993265/8475909/3318e92a-20bc-11e5-83c9-12cb450d713d.png)

[2015-07-02 11:24] skrchnavy commented on #71
@mvi-eea-sk  please check what component shall be fixed.

[2015-07-02 11:29] peterklimo commented on #141
no item is missing, it all depends on requirements how the fulltext search
should work
if you write "test*" it returns all datasets where title and description
contains word "title", not "titles" or "titlestitlestitles"
only exception is camel case, in this case word is tokenized and treated as
separate words, that is the reason you see setAndTest in results but no
testandset

On Thu, Jul 2, 2015

[2015-07-02 11:44] eea71 commented on #141
I have data in IC and in PC for this search same. Try this in IC and try this in PC. I obtained 2 different results. 4 results for IC and 3 results for PC. I don't know why there is difference. Minimally I think it would be the same.

[2015-07-02 11:54] mvi-eea-sk commented on #71
fixed: https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/deb126feb1315de23796fb9c7119d7bb3f803e85

[2015-07-02 12:03] eea71 opened #160 "No email validation in Midpoint create user process."
I created user in midpoint and put email 123 - is invalid. Was saved.

[2015-07-02 12:32] mvi-eea-sk commented on #135
commit: https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/9594af8b962b2b9cd37fac48f0df3a75246a2486

[2015-07-02 13:07] eea71 commented on #124
![image](https://cloud.githubusercontent.com/assets/10993265/8477651/12751e68-20cc-11e5-8372-39804750fb32.png)

[2015-07-02 15:39] skrchnavy commented on #141
My test:
![image](https://cloud.githubusercontent.com/assets/7057580/8480988/2a231bcc-20e1-11e5-80e6-ce050e7babcd.png)
and
![image](https://cloud.githubusercontent.com/assets/7057580/8480995/3b3b8df4-20e1-11e5-89d6-796c6c0fc04e.png)

shows same results in both catalogs

[2015-07-03 06:50] peterklimo commented on #141
i am also getting the same results in both catalogs, please specifiy your
test case inputs

On Thu, Jul 2, 2015 at 1:44 PM, Adriana Stanikova <notifications@github.com>
wrote:

[2015-07-03 07:07] mvi-eea-sk commented on #124
most likely the user (with that api key) has no rights to edit right for that organization
he has only member role in that organization ... so change the api key to user, who has editor or administrator right in that organization

[2015-07-03 07:08] peterklimo commented on #141
based on deep analysis we found following:

the difference between results in IC and PC are caused by different reindexing and indexing strategy in both catalogs. in the IC the solr index is updated directly after update of IC database (the dataset is changed, added or deleted) while PC reindexing is fired by cron at certain time. it means before the reindexing of PC is done the search results in

[2015-07-03 07:56] eea71 commented on #124
I think this user has rights for it. But try it on ast.comsode.eea.sk; in this moment is production.ini edited the way for this action. Thnx.

[2015-07-03 08:16] eea71 commented on #124
this is right configuration.

#odn.ic2pc.dst.ckan.url = https://ast.comsode.eea.sk
#odn.ic2pc.dst.ckan.api.key =  1fda8587-9f49-4430-9acc-3db64cab89b2

odn.ic2pc.dst.ckan.url = http://demo.comsode.eu
odn.ic2pc.dst.ckan.api.key = cb81bd0a-8e0e-48b1-95ab-0f10b879465d

[2015-07-03 08:17] #124 closed

[2015-07-05 15:27] jindrichmynarz opened #161 "Pipeline scheduled to run after another pipeline is "not planned" in the internal catalogue"
When you schedule a pipeline to run after another pipeline (e.g., that produces data the pipeline depends on) and then you go to the *"Pipelines"* tab in the internal catalogue for the dataset, you will see *"Next execution: Not planned"*. This is not true. The pipeline is planned to be executed after another designated pipeline is run.

This may be an error of either the internal catalogue that d

[2015-07-07 09:29] mvi-eea-sk commented on #83
I came across another problem, which is closely related to this problem.
Lets say:
1. loader dpu created resource with name 'test' in IC
2. after that user creates another resource with the same name 'test' in IC (name has no unique restriction)
3. ic2pc plugin synchronizes it to PC, but the result will be only one resource with name 'test' and it will be the second user created resource

Its beca

[2015-07-07 21:43] skrchnavy commented on #83
As a workaround (solution) I suggest not to synchronize such dataset that has not unique resource names. Just print the report that 'Can't synchronize due to not unique resource name' into activity stream.

solution have to be discussed.

[2015-07-08 06:11] mkl-eea-sk commented on #83
@tomas-knap @peterklimo - is Resource.name considered UNIQUE in scope of
ODN? If so, should we enforce this ? How? Database UNIQUE constraint in
CKAN postgres schema?

On 07/07/2015 11:43 PM, skrchnavy wrote:

[2015-07-08 07:30] mvi-eea-sk commented on #83
@mkl-eea-sk resource name doesn't have to be unique for all resources, only inside each of the datasets, so unique constraint on database level isn't necessary or desired

[2015-07-08 09:56] Jan-Marcek commented on #154
@mvi-eea-sk  it is ok

[2015-07-08 12:16] eea71 opened #162 "Server Error after Add catalog action."
All entered data are at the picture. Pushed button verify.
![image](https://cloud.githubusercontent.com/assets/10993265/8569847/edeaf126-257b-11e5-9f6a-480d36d365d1.png)

ODN - 388
ODN - 390

[2015-07-08 13:27] eea71 opened #163 "Public catalog doesn't show you public datasets after ORGANIZATION MANAGE action."
I click at the organization Name and pushed Manage/Datasets. I checked several datasets and change d them to PUBLIC. Saved. I opened PC. No change was detected.
![image](https://cloud.githubusercontent.com/assets/10993265/8571242/cd57099a-2585-11e5-8684-664f61f3c8e0.png)

[2015-07-09 14:39] #135 closed

[2015-07-09 14:39] #71 closed

[2015-07-09 14:39] #80 closed

[2015-07-09 14:39] #154 closed

[2015-07-09 14:43] #105 closed

[2015-07-09 14:45] #34 closed

[2015-07-09 14:45] #95 closed

[2015-07-09 14:47] #44 closed

[2015-07-09 14:47] #43 closed

[2015-07-10 08:40] eea71 opened #164 "Bad action after ENTER pushing at Create Pipeline in internal catalog."
I click at the dataset name. Manage/Pipelines/Add pipeline.
Radio Existing pipeline. At the text filed Select pipeline: I write some word. In this case "1" and I push ENTER. Page is changing to page of Dataset Detail.
I think it is not correct. There is no reason to go to another page.
![image](https://cloud.githubusercontent.com/assets/10993265/8615090/0bb5ff14-26f0-11e5-99ce-717db53ed2d1.png)

[2015-07-10 10:31] Jan-Marcek opened #165 "Import/Export of pipeline is not working between odn1.0.3 to 1.1.0"
Steps:
1. Export a pipeline to odn@1.0.3
2. Import the pipeline to odn@1.1.0

UV in Version 2.1.0

[code]

[2015-07-10 10:32] Jan-Marcek commented on #165
!!!! when I removed field from pipeline.xml
[code]
then it worked.

[2015-07-10 14:11] eea71 opened #166 "Wrong display of logged in user in ODN/IC"
I make login into midpoint as user oda. I log into IC and UV as this user.
Consequently I logout from IC and UV. In Midpoint everything stayed like logged, page is opened
but when I didnt click here no detection about logged out.
Then I login into IC as user casadmin.
I click into Midpoint. Still logged as Oda. I create under this user new another user.
Result: In Midpoint there is no detection ab

[2015-07-10 16:14] skrchnavy commented on #166
This is OK related to concept, all applications in ODN (but midpoint) see you as organization. Tere is wrong display of user in CKAN, shall be fixed (ODN theme issue).

[2015-07-10 16:33] skrchnavy commented on #165
Connect UnifiedViews/Core#447

[2015-07-10 16:38] skrchnavy commented on #159
I see this as enhancement for now, we shall report better error (more user friendly) and allow user to remove the pipeline association when pipeline doesn't exist.

[2015-07-13 11:22] eea71 commented on #119
I found out this: I don't see preview of .csv file for PRIVATE dataset. For PUBLIC is available and displayed. In case of changing from PRIVATE to PUBLIC  and vice versa behaviour is still same.

[2015-07-13 11:50] eea71 commented on #166
The problem is not in showing organization. But this fact complicated to explain it preciously. In Midpoint was logged user Oda Braun. In IC and UV user admin admin.

[2015-07-13 11:57] eea71 opened #167 "Table preview unavailable for public catalog dataset record resource."
![image](https://cloud.githubusercontent.com/assets/10993265/8649096/0aab4eb6-2967-11e5-9298-6a0eeb31e09e.png)

ODN-111
ODN-35

[2015-07-13 12:45] skrchnavy commented on #166
@peterklimo cold be more serious problem ten just wrong display.

[2015-07-13 13:23] eea71 opened #168 "Scheduling rules."
I created several scheduling rules for 1 pipeline. Rule 1 - each 1 minut, Rule 2 - each 2 minute, Rule 3 - each 3 minute. After an hour I removed pipeline from dataset. All scheduling rules stayed in scheduler in status disabled. Wouldn't be better to remove them?

[2015-07-14 09:51] mvi-eea-sk commented on #161
to @skrchnavy and @OskarStoffan :
When a pipeline is run after another pipeline, master (UV API) automatically returns the next execution time information as null, so CKAN can't display the information it doesn't get.

The question is what should be done? It should:
1. do some estimation on when it will be started - hard to implement, inaccurate
2. give the execution start of the pipe it is starte

[2015-07-14 09:56] jindrichmynarz commented on #161
I think the option 3 is the best because it describes exactly how the pipeline is scheduled.

[2015-07-14 11:03] skrchnavy opened #169 "sto_85: Import DPU template(s) from zip file"
[sto_85: Import DPU template(s) from zip file](https://utopia.sk/wiki/x/f4EuAw)

[2015-07-14 11:04] skrchnavy opened #170 "sto_84: Export DPU template(s) as zip file"
[sto_84: Export DPU template(s) as zip file](https://utopia.sk/wiki/x/cIEuAw)

[2015-07-14 11:06] skrchnavy opened #171 "sto_83: Import pipeline from zip file containing DPU templates"
[sto_83: Import pipeline from zip file containing DPU templates](https://utopia.sk/wiki/x/O4EuAw)

[2015-07-14 11:07] skrchnavy opened #172 "sto_82: Import pipeline from zip file containing no DPU templates"
[sto_82: Import pipeline from zip file containing no DPU templates](https://utopia.sk/wiki/x/OIEuAw)

[2015-07-14 11:08] skrchnavy opened #173 "sto_81: Export pipeline as zip file"
[sto_81: Export pipeline as zip file](https://utopia.sk/wiki/x/MoEuAw)

[2015-07-14 12:57] hanecak commented on #83
Reading CKAN docs (http://docs.ckan.org/en/ckan-2.2/user-guide.html#datasets-and-resources) I would presume that there is little (if any) reason to have (for one dataset) multiple resources with same name. Thus please:
* raise the issue with CKAN guys: The issue in title ("missing validation ...") is "upstream".
* update ic2pc to also do a validation before sync and if same or empty resource names

[2015-07-14 13:15] eea71 opened #174 "Pipeline sorting according CREATED BY doesn't consider USER."
I created pipelines at the UV as user admin admin and user Oda Braun. I click at the Pipelines tab. After I click at the table header Created By for sorting. There were no change in sorted data.
![image](https://cloud.githubusercontent.com/assets/10993265/8673980/35b377ee-2a3b-11e5-9297-f91fa9b12875.png)

[2015-07-14 13:50] skrchnavy commented on #174
Owner of pipeline is in ODN organization so it is sorted based on organization. Actor (the user that physically created pipeline) is displayed here.
Downgraded priority.

[2015-07-14 14:13] OskarStoffan commented on #159
Maybe if ODN/IC detects that one or more associated pipeline(s) was deleted (when Pipelines tab is selected) it should disassociate it automatically.

[2015-07-14 14:19] OskarStoffan opened #175 "'Remove' label of the button for disassociating a pipeline"
'Remove' label of the button for disassociating a pipeline is confusing. User may be uncertain whether  pressing that button deletes the pipeline. Should be renamed to 'Disassociate'.

[2015-07-14 14:23] hanecak commented on #132
@skrchnavy Current behaviour is as expected, i.e. URL stays same even after title change. And if the publishers chooses to, he can actually change it.

Why? Once dataset is created and URL assigned to it, we want that URL to stay unchanged, so that users can use it to link to dataset directly.

Given that CKAN lacks feature which would do a redirect from old URLs to current up-to-date URL, the nex

[2015-07-15 06:30] eea71 commented on #132
I think there is a little bit misunderstandig of the problem I wrote. This situation is not about changing URL of existing DB record. But about process of new record creation (in the moment of form validation). In this situation there is not URL stored anywhere. All this problem is about how to correctly solve problem with creating URL of new record after validation error status.

[2015-07-15 07:28] skrchnavy commented on #159
For automatic disassociation we have to be sure that pipeline was deleted (or doesn't exist) so only based on some error codes this shall be triggered, otherwise proper error message shall be displayed.

[2015-07-15 07:51] skrchnavy opened #176 "sto_44v3: Modify external catalog for update"
[sto_44v3: Modify external catalog for update](https://utopia.sk/wiki/x/G4BmAw)
Extension of #57 and #35 and contains #135

[2015-07-15 07:53] skrchnavy commented on #135
Duplicated by #176

[2015-07-15 07:55] skrchnavy opened #177 "sto_43v3: Add external catalog for update"
[sto_43v3: Add external catalog for update](https://utopia.sk/wiki/x/F4BmAw)
Extension of #36 and #56 and contains #135

[2015-07-15 07:58] #177 closed

[2015-07-15 07:58] #176 closed

[2015-07-15 09:28] skrchnavy opened #178 "sto_93: Upgrade ODN"
[sto_93: Upgrade ODN](https://utopia.sk/wiki/x/MoFKAw)

[2015-07-15 09:28] #178 closed

[2015-07-15 11:15] eea71 opened #179 "Run Query Error."
I run in debug mode Test Pipe 4 - creating table data. In debug info was allowed to run sparql query.
![image](https://cloud.githubusercontent.com/assets/10993265/8697200/744ad818-2af3-11e5-8207-55073ed18716.png)

[2015-07-15 11:47] eea03 commented on #179
Fixed in https://github.com/UnifiedViews/Core/commit/bd7a82c50d1701ccb29e0c7ea66ece199b65f641

[2015-07-15 14:03] OskarStoffan opened #180 "Default set of DPU templates is not complete"
There are missing DPUs in the list of default DPU templates after ODN installation.

TC ID: ODN-352

[2015-07-15 15:28] skrchnavy commented on #179
To check if this is included in release of UnifiedViews Core 2.1.2 or 2.2.0.

[2015-07-16 06:19] eea71 opened #181 "Information about resource."
There is redundancy of displaying data at the resource detail. For example format, created ... is twice. Next thing is case of first letter. Once is UpperCase once is LowerCase. Please do review of this data.
![image](https://cloud.githubusercontent.com/assets/10993265/8716625/59281e10-2b93-11e5-9bc1-723844e2ff25.png)

[2015-07-16 06:57] skrchnavy commented on #181
@mvi-eea-sk please check if we are using proper names.

[2015-07-16 09:07] peterklimo commented on #133
there is only problem open from this bug report: IC/CKAN does not respond to logout notifications from other applications

[2015-07-16 09:17] peterklimo commented on #166
concept is that user is using ODN applications on behalf of an organization. but this concept cannot be used in the midpoint, where user is represented by its username, not organization.
it seems that only problem is that username is not displayed in the IC -similar to UV

[2015-07-16 13:28] peterklimo commented on #160
according to kvalalikova there is no email validator in the midpoint system. I cant remember to any usecase where given email is used

[2015-07-16 13:29] peterklimo commented on #160
according to kvalalikova there is no email validator in the midpoint, but I do not think that email is used in any usecase

[2015-07-16 13:37] peterklimo commented on #180
fixed in the 1.1.1

[2015-07-16 13:44] peterklimo commented on #152
behavior is okay but message is not correct

[2015-07-17 08:22] eea71 opened #182 "Localization to Slovak language - corrections."
There is document for right translation to Slovak language. In this moment there is difference between existing and wished translation.

https://docs.google.com/spreadsheets/d/1XzmBDf0X-lwQ7BcenzYvNembPS3bKLjS-pIfnA3JET8/edit#gid=0

![image](https://cloud.githubusercontent.com/assets/10993265/8743255/7455cc2a-2c6d-11e5-95c2-6dacae9a20e8.png)

[2015-07-17 08:53] skrchnavy commented on #182
Translations of CKAN are kept in https://www.transifex.com/projects/p/ckan/
Slovak translation was done in ckan/ckan/#1837.

[2015-07-17 11:58] eea71 opened #183 "User management in UV is enabled."
In UV is possible to create new user - via Settings(Nastavenia/Sprava pouzivatelov). All user settings has to be done through Midpoint.
![image](https://cloud.githubusercontent.com/assets/10993265/8746651/d5d85512-2c8b-11e5-8892-6e58138defb3.png)

[2015-07-20 09:42] skrchnavy opened #184 "sto_61: Add visualization to dataset"
[sto_61: Add visualization to dataset](https://utopia.sk/wiki/x/2AEFAw)

[2015-07-20 09:43] skrchnavy opened #185 "sto_87: Create visualization"
[sto_87: Create visualization](https://utopia.sk/wiki/x/CIIuAw)

[2015-07-20 11:07] peterklimo commented on #155
this can be easily fixed for non-default users which are imported during installation procedure, problem with the user 'Administrator' is that it is created by midpoint system before the installation procedure is performed.
fixed for non default administrator (casadmin) by 366cda0

[2015-07-20 13:58] eea71 opened #186 "Midpoint error - user is not able to modify your own user profile."
![image](https://cloud.githubusercontent.com/assets/10993265/8777411/1ceb24de-2ef8-11e5-9a34-c41c38ea46cb.png)

[2015-07-22 08:19] Jan-Marcek opened #187 "Midpoint - error when resource OpenLDAP is opening"
When a user opens resource OpenLdap then an error is shown
![bug](https://cloud.githubusercontent.com/assets/5822680/8821017/a58c9ada-305a-11e5-8556-e9d0bbc2fa54.png)

error:
![bug2](https://cloud.githubusercontent.com/assets/5822680/8821031/c8be4c2e-305a-11e5-8480-ea6ec3fa8fc5.png)

Version: 3.4-odn1.1.0

[2015-07-22 14:13] hanecak opened #188 "change of password needs to be easier"
**When user logs into ODN (private parts: internal catalog, UnifiedViews, midPoint) it is not easy to find where and how to change his password (i.e. I'm talking about user story "I'm logged in and I want to change my password").** Current steps are as follows:

1. log in into http://odn/internalcatalog/
2. click "Tools > User Management
3. click "Users > List users"
4. find "me" and click "me"
5.

[2015-07-22 14:16] hanecak commented on #188
Screenshot for step 3:
![screenshot-1](https://cloud.githubusercontent.com/assets/1419799/8827449/f3cf2e10-308c-11e5-97d1-f14ada25204d.png)

Screenshot for step 4:
![screenshot-2](https://cloud.githubusercontent.com/assets/1419799/8827455/ff0ca014-308c-11e5-805d-298ba8ee90a5.png)

Screenshot for step 5:
![screenshot-3](https://cloud.githubusercontent.com/assets/1419799/8827424/d70a30b8-308c-11e5-8

[2015-07-23 06:52] OskarStoffan commented on #188
If you mean only changing your own password (not changing someone else's password by admin) this can be easily done by clicking your username in the upper right corner and select 'Reset passwords'.

[2015-07-23 09:50] jindrichmynarz opened #189 "Undocumented change of SPARQL endpoint's URL"
ODN 1.1.0 no longer supports the originally used URL for SPARQL endpoint at <http://localhost:8890/sparql> and replaces it with <https://localhost/sparql> (i.e. specific port is removed and HTTPS is used instead of HTTP). This change can break some existing pipelines that have the SPARQL endpoint's URL in their configuration (e.g., using e-sparqlEndpoint). I failed to find documentation for this c

[2015-07-23 15:34] skrchnavy commented on #189
http://localhost:8890/sparql  shall be supported from internal http requests.
https://localhost/sparql is only redirect to http://localhost:8890/sparql  (see https://github.com/OpenDataNode/odn-box/blob/master/apache/odn-simple-ssl-apache.conf#L188).
So I expect virtuoso is not running.

Anyway you shall not use this internal port when not necessary but to use standard way to access resources.

[2015-07-23 15:56] mkl-eea-sk commented on #189
If you need to access triples in internal RDF store, we should consider
providing e-rdfFromVirtuoso (counterpart of l-rdfToVirtuoso) which may
1. be faster
2. user standard api
3. access virtuoso using localhost loopback interface :1111 instead of
routing traffic through outside https:// interface
4. be multithreaded

On 07/23/2015 05:34 PM, skrchnavy wrote:

[2015-07-23 16:53] jindrichmynarz commented on #189
@skrchnavy: My point was not about Virtuoso not running (it is running), but about an undocumented change that might break some pipelines. Simply put, previously in ODN <http://localhost:8890/sparql> was the only way to access Virtuoso's SPARQL endpoint. Since ODN 1.1.0 this URL is no longer available (connection refused). To be more precise, it is available for localhost requests, but not for pub

[2015-07-23 16:55] jindrichmynarz commented on #189
@mkl-eea-sk: I haven't found the e-rdfFromVirtuoso DPU. Where is it? If there's a dedicated DPU for extracting data from Virtuoso, I will use it.

[2015-07-23 16:56] mkl-eea-sk commented on #189
But UV / dpu rdfFromSparql can access localhost:8890 am I right?
Of course, you, as external entity browsing ODN cannot access internal port.

[2015-07-23 16:57] mkl-eea-sk commented on #189
Some com. noise between us. I meant we should implement e-rdfFromVirtuoso if you need it, not that we have got it (and not told you:)

[2015-07-23 17:07] jindrichmynarz commented on #189
You're right. e-sparqlEndpoint can still access <http://localhost:8890/sparql>. Therefore, existing pipelines will not break.

However, since the original SPARQL endpoint's URL is not accessible via browser, which pipeline developers would typically use to access the SPARQL endpoint, then I believe this change should be documented, so that users can be pointed to the new URL.

Regarding the e-rdfF

[2015-07-23 17:32] skrchnavy commented on #189
@jindrichmynarz there is no change we made in configuration related to [http://localhost:8890/sparql](http://localhost:8890/sparql) This shall be accessible from DPU if UV installed at same server as (as wrote @mkl-eea-sk).
The only change is that Virtuoso listens only on localhost for port 8890, not accessible from external sites.
(https://github.com/OpenDataNode/odn-box/commit/5aa48af214be5f7203

[2015-07-23 18:05] jindrichmynarz commented on #189
Sure, as I wrote above, the only change is that Virtuoso listens only to localhost for the port 8890. Still, this was not the case before ODN 1.1.0 and should be documented in release notes. Doing that you may avoid confusing users like me, who got used to <http://localhost:8890/sparql> being publicly accessible.

[2015-07-23 18:35] skrchnavy commented on #189
http://localhost:8890/sparql was not publicly accessible, only http://host:8890/sparql and this was error.
solved as a bug in: OpenDataNode/odn-box#21

[2015-07-23 20:55] jindrichmynarz commented on #189
If it was a bugfix, then it should be documented as such.

[2015-07-24 07:19] skrchnavy commented on #189
https://utopia.sk/wiki/display/ODN/Open+Data+Node+v1.1.0 - it defines that this release contains implementation of:
* sto_55: Retrieving public data via SPARQL endpoint
* sto_56: Retrieving data via SPARQL endpoint

I don't know how to report bugfix to featuire that was not supported in previous release.

[2015-07-24 07:25] jindrichmynarz commented on #189
To certain extent this feature was supported in the previous release on <http://{hostname}:8890/sparql> (besides the integration via l-rdfToCkan loader). So, from a perspective of a person who used this feature (unknowingly) before it was officially available it is, indeed, an undocumented change. However, you are right that for other users this should be treated as a new feature.

At this point,

[2015-07-24 11:12] jindrichmynarz opened #190 "Counts of public datasets used in the internal catalogue instead of counts of private ones"
When I go to the internal catalogue (`/internalcatalog/dataset` or `/internalcatalog/organization`) the counts of **public** datasets are shown instead of the counts of **private** ones. I find this confusing and I think that if a user is logged in the internal catalogue, counts of all datasets, including both public and private, should be shown. What is the expected behaviour here?

Context: I'm

[2015-07-24 11:37] jindrichmynarz commented on #189
BTW, why is the Virtuoso Conductor (<https://{hostname}/conductor>) made publicly accessible and not only via the localhost interface? If the default Virtuoso credentials (dba/dba) are left unchanged, anyone can log in and change Virtuoso's settings.

[2015-07-24 18:24] skrchnavy commented on #190
If I remember this is CKAN feature, please check CKAN issue tracker for this error.

[2015-07-28 11:00] jakubklimek opened #191 "ODN CKAN style displays distribution shortcuts in dataset list wrong"
This is how it looks like:
![image](https://cloud.githubusercontent.com/assets/718827/8929811/736b5672-3528-11e5-8baf-ed84ee1c9f5e.png)
This is how it should look like:
![image](https://cloud.githubusercontent.com/assets/718827/8929831/a167081e-3528-11e5-9f01-836cf84a7be0.png)

[2015-07-28 13:04] jindrichmynarz opened #192 "Forced reload of UnifiedViews when visiting the internal catalogue"
When I open a pipeline in UnifiedViews in one browser tab and open the internal catalogue (`/internalcatalog`) in another browser tab, then UnifiedViews is forcibly reloaded (the warning *"Communication problem: Take note of any unsaved data, and click here or press ESC to continue"* is shown). If the pipeline has unsaved changes, then these changes are lost.

Frequently, it is useful to have both

[2015-07-29 10:43] OskarStoffan opened #193 "Change 'Reset passwords' to 'Change passwords' in ODN/MidPoint"
![untitled](https://cloud.githubusercontent.com/assets/8984799/8955701/6d80cfe0-35ef-11e5-93cb-3383e55e98ed.jpg)

[2015-07-29 14:01] OskarStoffan opened #194 "Link that redirects back to ODN/InternalCatalog is missing in ODN/UnifiedViews"
There should be a button in main menu of ODN/UV dedicated to redirect user back to ODN/IC.

[2015-07-29 14:01] OskarStoffan opened #195 "Link that redirects back to ODN/InternalCatalog is missing in ODN/MidPoint"

[2015-07-29 15:10] OskarStoffan opened #196 "sto_5v2 + sto_47v2: Associate a pipeline created by user that belongs to different organization"
The desired behavior is described in related user stories:

sto_5v2 New associated pipeline as modified copy of an existing pipeline: https://utopia.sk/wiki/display/ODN/sto_5v2%3A+New+associated+pipeline+as+modified+copy+of+an+existing+pipeline

sto_47v2 Associate an existing non-associated pipeline: https://utopia.sk/wiki/display/ODN/sto_47v2%3A+Associate+an+existing+non-associated+pipeline

[2015-07-29 15:39] jindrichmynarz commented on #192
Note: This also happens when `/sparql` is opened in another browser tab. This might suggest that this is an issue of [OpenDataNode/odn-cas](https://github.com/OpenDataNode/odn-cas).

[2015-07-30 11:40] OskarStoffan opened #197 "It is not possible to display preview of a resource (CSV and Excel files) for private dataset"
For resources containing file dump stored in CKAN's file store, the DataProxy service is not able to preview data contained in the file in case the visibility of a dataset is set to 'Private'.

[2015-07-30 12:34] eea71 opened #198 "It is not possible to remove filter from Data Explorer preview."
I created pipeline with REST API output. In Data Explorer I see Table with Data. At the top of Data Explorer is possibility to Add Filter, but I cant remove it.
![image](https://cloud.githubusercontent.com/assets/10993265/8983147/10ab6f4e-36c8-11e5-8a6c-79c1887b3fc9.png)

[2015-07-30 13:15] OskarStoffan opened #199 "It is not possible to display preview of a resource (CSV and Excel files) if the size of the file previewed exceeds some (unknown) limit."
This is due to response timeout set for this external service (DataProxy). Anyway, CKAN's official documentation clearly states that support for the DataProxy will be dropped on future CKAN releases, so we will need to store these files in CKAN's Data Store in order to make data preview available.

[2015-07-30 13:33] eea71 opened #200 "Search is twice in Users menu."
I clicked at icon comsode (user) and then I clicked at the link Users. It shows next thing.
![image](https://cloud.githubusercontent.com/assets/10993265/8984191/5a950cf2-36d0-11e5-8061-c28431895927.png)

[2015-07-31 07:58] OskarStoffan opened #201 "Creating new user in new organization with name of the organization starting with upper case letter"
No organization name starting with upper case character is allowed to be created, however if the organization is created simultaneously with the new user, this is accepted when new user is saved. This later leads to Internal Server Error when such user wants to log in to ODN.

[2015-07-31 09:11] OskarStoffan opened #202 "Creating new organization with multiword name of the organization"
No organization name comprising more words is allowed to be created, however this is accepted when new user is created or modified and saved. This later leads to Internal Server Error when such user wants to log in to ODN.

[2015-07-31 09:19] OskarStoffan opened #203 "Creating new user with characters with diacritics contained in its attributes"
No user comprising attributes with characters with diacritics is allowed to be created, however this is accepted when new user is created or modified and saved. This later leads to Internal Server Error when such user wants to log in to ODN.

[2015-08-03 13:47] peterklimo commented on #183
fixed in the 2.1.1 release

[2015-08-03 13:48] peterklimo commented on #134
assigned to kvalalikova, default organization will be added during installation procedure (comsode and root of the tree named root), in future will be possible to assign existing organization to the user

[2015-08-03 13:50] peterklimo commented on #133
problem of the cas ckan extension, will be implemented by dominik kapisinsky

[2015-08-03 13:52] peterklimo commented on #70
word Logout written in white font color, readability improved

[2015-08-03 16:18] skrchnavy commented on #199
It is necessary to discuss how we plan to support preview for csv. There are few options:
* csv stored in data-store
* https://github.com/datagovuk/ckanext-datapreview for preview without external service

[2015-08-03 19:18] peterklimo commented on #201
Copied from #202, it is the same bug:
No organization name comprising more words is allowed to be created, however this is accepted when new user is created or modified and saved. This later leads to Internal Server Error when such user wants to log in to ODN.

[2015-08-03 19:19] peterklimo commented on #201
Copied from #203:
No user comprising attributes with characters with diacritics is allowed to be created, however this is accepted when new user is created or modified and saved. This later leads to Internal Server Error when such user wants to log in to ODN.

[2015-08-03 19:25] peterklimo commented on #201
We use organization name/id as an username attribute coming from CAS. CAS resolves this without any problem, it allows login to the application. It depends on internals of the integrated application if it allows login with the multiword/diacritics/uppercase-lowercase user ID. It seems that in unifiedviews it works without any problem. However CKAN restricts organization to lowercase letters and nu

[2015-08-04 09:27] peterklimo commented on #78
solr schema fixed in the odn-simple as well as edem-pa

[2015-08-04 09:28] peterklimo commented on #76
solr schema fixed in the odn-simple as well as edem-pa

[2015-08-04 09:38] peterklimo commented on #152
according to discussion with kvalalikova there is no validation of parameters on the GUI layer. no validation of length, entered characters, no check for duplicity.

[2015-08-04 09:39] peterklimo commented on #160
cording to discussion with kvalalikova there is no validation of parameters on the GUI layer. no validation of length, entered characters, no check for duplicity.
we need to decide if there is need to fix these issues, which will cost us additional effort

[2015-08-04 11:26] peterklimo commented on #111
@eea71 can you please retest it ? this was reported long time ago when the single sign out procedure was not correctly implemented in unifiedviews.
however sign out from IC as a reaction to sign out from other applications does still not work due to missing implementation of this feature (should be delivered by MC)

[2015-08-04 14:44] OskarStoffan opened #204 "When creating external catalog for dataset, user has to have at least admin persmissions within organization in order to make the synchronization between ODN/IC and external catalog possible."
This is because the verification process of external catalog fails when API key of the user with lower persmissions (editor) is entered, even though editor has enough rights to create or edit datasets.

ODN-388
ODN-390

[2015-08-05 11:48] skrchnavy commented on #202
Duplicate #201

[2015-08-05 11:48] #202 closed

[2015-08-05 11:49] skrchnavy commented on #203
Duplicate #201

[2015-08-05 11:49] #203 closed

[2015-08-06 07:43] eea71 commented on #163
No change after 29 days!

[2015-08-06 07:43] eea71 commented on #162
No change after 29 days!

[2015-08-06 08:52] eea71 commented on #160
What does it mean "no validation of parameters on the GUI layer"? I think it is basic functionality to check if data are valid!
![image](https://cloud.githubusercontent.com/assets/10993265/9107609/e294bff0-3c28-11e5-9bc7-a0368045c34b.png)
Picture above documents, that validations are here. Email address is one of REQUIRED data. It means probably important. Otherwise it doesn't have sense.
Minimall

[2015-08-06 09:07] peterklimo commented on #160
yes only validation is if the parameter is mandatory or not, nothing else

On Thu, Aug 6, 2015 at 10:52 AM, Adriana Stanikova <notifications@github.com

[2015-08-06 11:50] skrchnavy commented on #180
@peterklimo are there all DPU templates from Plugins repository? please chek with @eea03

[2015-08-06 12:25] eea71 opened #205 "Different result in fulltext seach for public datasets in internal catalogue."
I simulate situation when all datasets are public. I tried search from 2 different places.
From link Datasets and then from link  Organizations/comsode. Initially I saw all datasets at the screen without search key. Consequently I obtained different results.
![image](https://cloud.githubusercontent.com/assets/10993265/9112060/92d8b36c-3c4c-11e5-88c3-f438401dafa3.png)

ODN - 21

[2015-08-06 12:41] eea71 opened #206 "Different result in fulltext seach for public datasets in public catalog."
The same situation as in bug issue #205.

[2015-08-06 12:56] #167 closed

[2015-08-06 13:25] mvi-eea-sk commented on #163
This action is done in nonstandard way by making changes directly to DB.
The hook that is dependent on the "standard" way, isn't able to start synchronization to public catalog.
Changes have to be made in the ic2pc plugin to cope with this.

The question is if its necessary to make this changes and if yes, how to solve this problem:
a) add synchronization trigger to "Make public" button -> this co

[2015-08-06 15:45] skrchnavy commented on #180
Not properly fixed in 1.1.1, odn-plugins v1.1.2 to be released

[2015-08-06 15:46] skrchnavy commented on #166
@peterklimo + @mvi-eea-sk to discuss how to improve theme to display user properly.

[2015-08-06 15:47] skrchnavy commented on #165
UnifiedViews/Core#447 release so it shall work in v1.1.1 of ODN

[2015-08-06 15:49] skrchnavy commented on #76
@peterklimo to provide info where it is fixed (commit number or issue in particular repo)

[2015-08-06 15:51] skrchnavy commented on #179
Included in https://github.com/UnifiedViews/Core/releases/tag/UV_Core_v2.1.2

[2015-08-06 15:52] skrchnavy commented on #141
@eea71 to retest

[2015-08-06 15:53] skrchnavy commented on #70
@peterklimo any reference to commit number or issue in proper repository?

[2015-08-07 08:30] eea71 commented on #163
Only small comment to this operation. If dataset is public, everybody suppose that is possibility to find it on public catalogue. In this case it is not true. So or you have to remove possibility to make all datasets in one operation public or you must finish this functionality to end. And vice versa. If datasets are private, must be removed from PC. Otherwise it doesn't have sense.

[2015-08-07 08:39] Jan-Marcek commented on #189
@jindrichmynarz A user is asked to enter Virtuoso credentials during installation.

[2015-08-07 13:00] eea71 commented on #167
ok; works on v1.1.1

[2015-08-10 10:32] peterklimo commented on #205
it seems that there is a bug in ckan. it creates different query requests where is forces solr to use different query analysers and then solr returns different results.

[2015-08-10 10:33] peterklimo commented on #205
@mvi-eea.sk please look how the solr queries are constructed in ckan, look for word dismax. do not forget that this problem occurs in both public and internal catalogue

[2015-08-10 13:55] peterklimo commented on #206
simple solution how to unify search results in both catalogs is to comment out following code:
https://github.com/OpenDataNode/odn-ckan/blob/odn/release-v2.3/ckan/lib/search/query.py#L347-L355

[2015-08-10 13:55] peterklimo commented on #205
simple solution how to unify search results in both catalogs is to comment out following code:
https://github.com/OpenDataNode/odn-ckan/blob/odn/release-v2.3/ckan/lib/search/query.py#L347-L355

[2015-08-12 12:46] peterklimo commented on #70
no this was fixed with new thema, i do not know the exact commit ID, sorry

[2015-08-13 06:41] eea71 opened #207 "Problem with importing existing pipeline."
I exported pipeline and consequently the same I wanted to import. I expected question about overwriting. Result was error.
![image](https://cloud.githubusercontent.com/assets/10993265/9243974/ea16145e-4196-11e5-845f-432ef6cacd15.png)

The next thing is, when I created export I couldn't set the name of file. In such case I would write another name and maybe was not problem with importing. It is up

[2015-08-13 06:45] eea71 commented on #207
Small research. I renamed exported zip. Changed name. Consequently I wanted to import changed file. Error was the same. :-(

[2015-08-13 13:10] eea71 commented on #76
Without change.

[2015-08-13 13:11] eea71 commented on #78
Without change.

[2015-08-13 13:22] eea71 commented on #179
in pre-release 1.1.2 seems is ok!

[2015-08-13 13:27] eea71 commented on #183
In pre-release 1.1.2 seems is ok!

[2015-08-14 06:43] eea71 commented on #141
now seems is ok in pre-release 1.1.2

[2015-08-14 07:01] eea71 commented on #165
seems in pre-release 1.1.2 is ok

[2015-08-14 07:35] eea71 commented on #180
Checked this:
5 x extractor
install_dpu "/usr/share/unifiedviews/dist/odn_plugins/uv-e-filesFromCKAN-*.jar"
install_dpu "/usr/share/unifiedviews/dist/odn_plugins/uv-e-relationalFromCKAN-*.jar"
install_dpu "/usr/share/unifiedviews/dist/plugins/uv-e-distributionMetadata-*.jar"
install_dpu "/usr/share/unifiedviews/dist/plugins/uv-e-filesDownload-*.jar"
install_dpu "/usr/share/unifiedviews/dist/plugin

[2015-08-14 08:53] eea71 commented on #204
Tested with this data:
editor:
https://demo.comsode.eu
f6ea6209-9353-40b6-aed5-ab702a277202
org.: comsode

admin
https://demo.comsode.eu
a89bca66-4932-4889-882d-2b7638f1593f

seems in pre-release 1.1.2 is ok

[2015-08-14 15:40] tomas-knap commented on #207
Already reported as https://github.com/UnifiedViews/Core/issues/474

[2015-08-18 09:07] Jan-Marcek commented on #78
fixed by https://github.com/OpenDataNode/odn-box/commit/a19d85585495f75edeaf16c295ac3daa3d34aaf8

[2015-08-18 14:21] mvi-eea-sk commented on #200
fixed: https://github.com/OpenDataNode/odn-ckan/commit/57e4317e2078400a20a3a04cb76eb76dc18a5696

[2015-08-18 14:33] mvi-eea-sk commented on #181
@skrchnavy as you can see here: https://github.com/OpenDataNode/odn-ckan/blob/odn/release-v2.3/ckan/templates/package/resource_read.html#L157-L174

Last updated, Created, Format, License are hardcoded and are shown no matter what. And then all parameters are shown even the previously mentioned.

[2015-08-19 10:17] mvi-eea-sk commented on #83
@skrchnavy momentarily synchronization doesn't add any record in activity stream, be it automatic or manual synchronization

Because activity current types are:
* new package
* changed package
* deleted package
* follow dataset
* new user
* changed user
* follow user
* new group
* changed group
* deleted group
* new organization
* changed organization
* deleted organization
* follow group
* new re

[2015-08-19 10:30] mvi-eea-sk commented on #117
What's the status of this issue? Can i close it or some changes have to be made?
For the mail problem make another issue.

[2015-08-19 10:34] mvi-eea-sk commented on #161
@skrchnavy i need someone to decide if this this should be fixed and which suggested solution should be implemented

[2015-08-19 10:39] jindrichmynarz commented on #117
The main question is: Is this an expected behaviour or not?

[2015-08-19 12:38] mvi-eea-sk commented on #120
@eea71 can you confirm this problem is actual

[2015-08-21 08:13] tomas-knap commented on #161
Lets go for option 3)

[2015-08-25 07:52] skrchnavy commented on #141
@eea71 / @peterklimo v1.1.2 released, is it fixed?

[2015-08-25 08:06] mvi-eea-sk commented on #107
related to #133

[2015-08-25 08:12] mvi-eea-sk commented on #133
@peterklimo implemented kapisinsky's changes into ckanext-odn-cas plugin

[2015-08-25 11:14] skrchnavy opened #208 "sto_15: Datasets browser"
[sto_15: Datasets browser](https://utopia.sk/wiki/x/7oEuAw)

[2015-08-26 11:21] eea71 commented on #76
In this moment I see only problems with same titles of Datasets with different case of characters and inserted spaces.

[2015-08-26 11:28] skrchnavy commented on #76
@eea71 please report it as low priority bug, this ordering is for now acceptable, probability of using same name of dataset that differs in upper/lower case is very low. Then we can close this issue as solved

[2015-08-26 12:02] eea71 opened #209 "Midpoint enables to create several organization for user."
I created new user in midpoint with several organization. Result is that user is not able to log into ODN/IC - invalid credentials.
![image](https://cloud.githubusercontent.com/assets/10993265/9492785/123e9cda-4bfb-11e5-921f-bf18a5d55b69.png)

[2015-08-26 12:26] eea71 commented on #200
in fix 1.1.2 is ok

[2015-08-26 12:28] #200 closed

[2015-08-26 12:30] eea71 commented on #131
in fix 1.1.2 seem si ok. ;-)

[2015-08-26 12:48] #131 closed

[2015-08-26 13:00] eea71 commented on #205
in fix 1.1.2 seems is ok

[2015-08-26 13:10] #205 closed

[2015-08-26 13:21] eea71 commented on #162
in fix 1.1.2 seems is ok.

[2015-08-26 13:44] eea71 commented on #204
admin and also changed to editor

https://demo.comsode.eu
1d2dc250-1c8f-4685-bee4-c2136799fbe9

[2015-08-26 13:49] skrchnavy commented on #204
Understood it works so closing

[2015-08-26 13:49] #204 closed

[2015-08-26 13:50] #162 closed

[2015-08-26 16:48] skrchnavy commented on #70
@eea71 to retest

[2015-08-26 16:48] skrchnavy commented on #179
@eea71 to retest in released version

[2015-08-26 16:48] skrchnavy commented on #183
@eea71 to retest in released version

[2015-08-26 16:49] skrchnavy commented on #180
@eea71 to retest in released version

[2015-08-26 16:49] skrchnavy commented on #165
@eea71 to retest in released version

[2015-08-27 08:13] #70 closed

[2015-08-27 08:14] #76 closed

[2015-08-27 08:14] #78 closed

[2015-08-27 08:15] #141 closed

[2015-08-27 08:15] #165 closed

[2015-08-27 08:15] #183 closed

[2015-08-27 08:23] #180 closed

[2015-08-27 08:23] #179 closed

[2015-09-02 09:21] peterklimo commented on #195
reported to evolveum CEO

[2015-09-02 09:45] skrchnavy opened #210 "sto_82v1: Import pipeline from zip file containing no DPU JARs"
[sto_82v1: Import pipeline from zip file containing no DPU JARs](https://utopia.sk/wiki/x/BAFwAw)

[2015-09-03 09:02] peterklimo commented on #133
@mvi-eea-sk please provide a reference in the repository to the fix

[2015-09-03 09:11] peterklimo commented on #133
related to https://team.eea.sk/jira/browse/COMSODE-1194

[2015-09-03 11:04] peterklimo commented on #182
user created by default is assigned to organization comsode, which is created by default during installation

[2015-09-03 11:37] peterklimo commented on #194
It is possible to set link using following properties
external.menu.link.name = Katal\u00F3g data.gov.sk
external.menu.link.url = http://data.int.edov.globaltel.sk:5000/

[2015-09-03 12:34] skrchnavy commented on #194
to include into UV configuration in ODN-BOX.

[2015-09-03 13:12] peterklimo commented on #194
see 008f75d

[2015-09-03 13:29] eea71 commented on #119
https://ast.comsode.eea.sk/internalcatalog/dataset/testdatasetdefaultalways/resource/a22bdc6d-6e55-4493-ab48-71f9ce93641c#

preview is not available...

[2015-09-03 13:33] skrchnavy commented on #119
the link redirects to cas so this could be the issue with preview using external service

[2015-09-03 14:01] spinque opened #211 "Installation may go wrong with multiple with different FQDNs"
ODN 1.1.2

The installation takes the output of `hostname -A` as the FQDN to be used as the primary ODN name.

However, `hostname -A` can return more than one FQDN, in which case the concatenation of the two is used (which goes very bad as you can imagine).

In my case, I had two interfaces, one DHCP and one with manual.
Although  `/etc/hostname`, `/etc/hosts` and `/etc/resolv.conf` were setup cor

[2015-09-04 11:10] mvi-eea-sk commented on #196
in short:
* you should be associate pipeline only of your organization
* you should be able to create copy of pipeline your organization owns and not private pipelines

UV side implementation: [feature/api_pipelines_visible_to_user ](https://github.com/UnifiedViews/Core/commit/cfd9de39673800ff27a3b691693dfed5a36228b9)
CKAN side implementation: [feature/copy_pipe_of_another_org](https://github.com/

[2015-09-04 12:24] #155 closed

[2015-09-04 12:25] #194 closed

[2015-09-04 14:35] skrchnavy commented on #196
@OskarStoffan to review user stories

[2015-09-04 15:23] #41 closed

[2015-09-04 15:24] skrchnavy commented on #41
story is obsolete now

[2015-09-04 15:27] skrchnavy commented on #42
user story #18 covers this

[2015-09-04 15:27] #42 closed

[2015-09-04 15:27] skrchnavy commented on #45
will not be implemented

[2015-09-04 15:28] #45 closed

[2015-09-04 15:28] skrchnavy commented on #46
will not be implemented

[2015-09-04 15:28] #46 closed

[2015-09-04 15:29] skrchnavy commented on #22
#28 story covers also this story

[2015-09-04 15:30] #22 closed

[2015-09-04 15:34] skrchnavy commented on #72
looks as reported in UV/Core
* UnifiedViews/Core#487
* UnifiedViews/Core#459
* UnifiedViews/Core#453

Shall be fixed in ODN 1.1.1, @eea71 to retest

[2015-09-04 15:47] skrchnavy commented on #91
Please retest with latest version of UV

[2015-09-04 15:47] skrchnavy commented on #89
@eea71 are you able to reproduce it?

[2015-09-04 15:54] skrchnavy commented on #85
@jindrichmynarz in CKAN 2,3 (used in latest ODN), there is `http://example.com/dataset.json'  (see http://demo.ckan.org/dataset/new u:test p:test).
Is this OK?

[2015-09-04 17:03] jindrichmynarz commented on #85
That's certainly better than JPEG.

[2015-09-08 08:44] mvi-eea-sk commented on #161
@tomas-knap should it write just generalized message: "After other pipeline(s)"
Or should it write the name of ALL pipelines it is planned after?

[2015-09-08 12:35] tomas-knap commented on #161
It should write the particular names of the pipelines it runs after

[2015-09-08 13:44] Jan-Marcek commented on #128
fixed again https://github.com/UnifiedViews/Core/commit/92c2ee4d857a0982814f1ca966732c30ca48cdca

[2015-09-09 08:16] mvi-eea-sk commented on #161
added parameter "afterPipelines" in <host>/{pipelineid}/schedules/~all/scheduledexecutions JSON response:
[code]

or there are no "after pipelines"
[code]
UV api change: https://github.com/UnifiedViews/Core/commit/b754bbaea460ad0e28af041fed36c04df61ff409

ckanext-ond-pipeline integration: https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/71a10756dab4d5cbaac0da27a744423e8175a3ec

[2015-09-09 08:41] skrchnavy commented on #85
In Add data part is `http://example.com/my-image.jpg`

[2015-09-09 13:05] mvi-eea-sk commented on #210
@skrchnavy is milestone correctly set?

[2015-09-09 13:57] skrchnavy commented on #210
yes, OpenDataNode v1.2.0

[2015-09-09 14:40] Jan-Marcek opened #212 "Wrong link at Pipelines tab@internal catalog ?"
![bug](https://cloud.githubusercontent.com/assets/5822680/9764650/8b930754-5710-11e5-8609-5f7ae4983490.png)

When a user clicks on Running it opens "Scheduler" at UnifiedViews - where the user can find nothing useful because pipeline is running (or is queued ). I think link to its execution makes more sense.

Please, improve this or explain why it is good to see "Scheduler" instead of "Execution"

[2015-09-10 08:19] mvi-eea-sk commented on #212
fixed: https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/7e1514cfc54456a427b941e73494cc7155eb7754
* when pipeline runned/queued link is pointing to concrete execution
* otherwise link is pointing to scheduler

[2015-09-10 08:57] mvi-eea-sk commented on #161
merged, ready for testing

[2015-09-10 13:47] skrchnavy commented on #166
@mvi-eea-sk is this implemented or not?

[2015-09-10 13:48] skrchnavy commented on #173
@mvi-eea-sk please report status

[2015-09-10 13:48] skrchnavy commented on #171
@mvi-eea-sk please report status

[2015-09-10 13:48] skrchnavy commented on #170
@mvi-eea-sk please report status

[2015-09-10 13:48] skrchnavy commented on #169
@mvi-eea-sk please report status

[2015-09-10 13:50] skrchnavy commented on #191
@rskultety please report status

[2015-09-10 13:52] skrchnavy commented on #151
@peterklimo / @mvi-eea-sk to discuss how to solve this issue. There must be administrator that can configure CKAN

[2015-09-11 07:21] mvi-eea-sk commented on #166
should be in commit https://github.com/OpenDataNode/ckanext-odn-theme/commit/2b5ea4fbafba9b1e0e8533e2deaaa24ea1091cd0
in the "new" theme its this commit https://github.com/OpenDataNode/ckanext-odn-theme/commit/b8e04106f7af345306b32a19315af65d6acae0ad
so yes this should be present in the ODN_v1.2.0 release

[2015-09-11 07:31] mvi-eea-sk commented on #173
@skrchnavy  In https://github.com/UnifiedViews/Core/commit/cfe02067b9ea9818e5e84159834b8152e2b1c98d is repaired minor bug that caused that:
* version for used DPU templates was not displayed in the export dialog
* version wasn't exported to zip file (used_dpu.xml)

now, should be fully implemented

[2015-09-11 07:40] mvi-eea-sk commented on #171
Partially implemented (sto_83v1).
Missing functionality: see Install/Update button functionality (related https://github.com/UnifiedViews/Core/issues/458)

[2015-09-11 07:50] mvi-eea-sk commented on #170
@skrchnavy unimplemented part:

[2015-09-11 08:04] mvi-eea-sk commented on #169
@skrchnavy only partially implemented

missing / not implemented:
* after uploading file, table isn't displayed with DPU templates contained in the zip file and information if it can be imported

Note: the user story doesn't take into account "Use template configuration" option from DPU instance

[2015-09-11 08:46] Jan-Marcek commented on #212
I think Last execution shall point to concrete execution as well.

[2015-09-11 09:00] mvi-eea-sk commented on #212
it does ...
you can click on the status, for example the pipeline did run succesfully. The last execution status would be OK and link would be {host}/#!ExecutionList/exec={exex_id}
it should be according user story.

[2015-09-11 09:10] Jan-Marcek commented on #212
all right then :)

[2015-09-11 09:12] mvi-eea-sk commented on #175
fixed in https://github.com/OpenDataNode/ckanext-odn-pipeline/commit/d75210fd6c3b8b0a5a1c8c0d0e78451b952550b3 in this issue: https://github.com/OpenDataNode/ckanext-odn-pipeline/issues/14

@eea71 if this wasn't included in CKAN on which you tested this issue, please consult @Jan-Marcek

[2015-09-11 09:14] mvi-eea-sk commented on #207
fixed in PR: https://github.com/UnifiedViews/Core/pull/523

[2015-09-16 16:06] jindrichmynarz opened #213 ""Couldn't get pipelines, probably UnifiedViews is not responding.""
When I try to associate a pipeline to a dataset in the internal catalogue, I go to "Pipelines" tab, click "Add pipeline" and select to add an existing pipeline *"Couldn't get pipelines, probably UnifiedViews is not responding."* error message is shown. UnifiedViews is running and responding, but it is slow and the query retrieve pipelines times out as can be seen in `/var/log/apache2/odn-ckan-ic.e

[2015-09-16 16:11] skrchnavy commented on #213
@jindrichmynarz do you have log from UV (master)?

[2015-09-16 16:16] jindrichmynarz commented on #213
Do you mean `/var/log/unifiedviews/backend/backend.log`?

[2015-09-16 16:22] skrchnavy commented on #213
master.log (in frontend), I am not sure where it is located.

[2015-09-16 16:25] jindrichmynarz commented on #213
It is in `/var/log/unifiedviews/frontend/master.log`, but I cannot find anything related to this issue there. See here:  <https://gist.github.com/jindrichmynarz/effdbfb238fce38a3b2c>.

[2015-09-17 07:21] mvi-eea-sk commented on #213
@jindrichmynarz most probably the URL of UV (master) API is wrongly set.

In /etc/odn-simple/odn-ckan-ic/production.ini there should be something like this:
[code]

1. Is UV (master) API running? Is it reachable?

2. can you check if the url is correct (especially port)? Check if there is http or https.

  try: ``` curl http://127.0.0.1:8080/master/api/1``` <- url from cfg file

  should give prop

[2015-09-17 07:34] jindrichmynarz commented on #213
I have `http://127.0.0.1:28080/master/api/1` (note the different port) set as `odn.uv.api.url` in `/etc/odn-simple/odn-ckan-ic/production.ini`. Requesting this URL returns HTTP/1.1 404 Not Found.

[2015-09-17 08:01] mvi-eea-sk commented on #213
if the response isn't JSON, the UV (master) API isn't running / reachable
@Jan-Marcek can you help with this?

[2015-09-17 10:47] jindrichmynarz commented on #213
If the UV API is not running, then it is weird that I can still associate pipelines to datasets in CKAN.

[2015-09-17 13:40] mvi-eea-sk commented on #213
To associate pipeline you need the API function that threw time out error in the above log.
Oh you mentioned you have 86 pipelines ... maybe just the API call, that retrieves the pipelines, last longer than 5 sec?
Did you try increasing the timeout (```odn.uv.timeout = 5```)?

[2015-09-17 13:55] jindrichmynarz commented on #213
My point is that if the API is not running, then it cannot throw timeout errors.

I think it is highly likely that the API call just takes longer than the timeout, as you say. For example, now I have lower load on UV and the requests no longer timeout.

[2015-09-17 14:08] mvi-eea-sk commented on #213
@skrchnavy why is this assigned to me, this is clearly UV performance issue

[2015-09-17 14:20] jindrichmynarz commented on #213
I think the problem is that this operation takes UV longer than it should. As you say, it is a UV performance issue.

[2015-09-17 15:09] skrchnavy commented on #213
Reported in UnifiedViews/Core#531

[2015-09-24 08:22] jindrichmynarz opened #214 "Make Virtuoso SPARQL Update and SPARQL Graph Protocol endpoints accessible"
Besides regular SPARQL query endpoint, Virtuoso exposes SPARQL Update (`http://localhost:8890/sparql-auth`) and SPARQL Graph Protocol (`http://localhost:8890/sparql-graph-crud-auth`) endpoints. Access to these endpoints is necessary for manipulation of data in Virtuoso. Currently, these endpoints redirect from HTTP to HTTPS and that refuses a connection. Please make them accessible.

This issue is

[2015-09-25 09:06] skrchnavy commented on #195
@peterklimo to report into Evolveum JIRA

[2015-09-28 15:26] #111 closed

[2015-09-28 15:27] #212 closed

[2015-09-28 15:27] #210 closed

[2015-09-28 15:27] #207 closed

[2015-09-28 15:27] #196 closed

[2015-09-28 15:27] #173 closed

[2015-09-28 15:27] #161 closed

[2015-09-28 15:27] #133 closed

[2015-09-28 15:28] #166 closed

[2015-09-28 15:28] #214 closed

[2015-09-28 15:29] #175 closed

[2015-09-28 15:31] #191 closed

[2015-09-28 15:31] skrchnavy commented on #191
odn theme updated

[2015-09-28 15:33] skrchnavy commented on #86
solved using new odn-theme

[2015-09-28 15:33] #86 closed

[2015-09-28 15:35] #113 closed

[2015-09-28 15:37] #184 closed

[2015-09-28 15:39] #185 closed

[2015-09-28 15:40] #182 closed

[2015-09-28 15:43] #72 closed

[2015-09-30 13:47] skrchnavy opened #215 "sto_92: Anonymize source tabular data by skipping rows and/or columns"
[sto_92: Anonymize source tabular data by skipping rows and/or columns](https://utopia.sk/wiki/x/LIFKAw)

[2015-09-30 13:47] #215 closed

[2015-09-30 13:48] skrchnavy opened #216 "sto_35: Retrieving metadata about dataset via public catalog API"
[sto_35: Retrieving metadata about dataset via public catalog API](https://utopia.sk/wiki/x/yIL5Ag)

[2015-09-30 13:48] #216 closed

[2015-09-30 13:51] skrchnavy opened #217 "sto_76: Search the list of datasets contained in public catalog (API)"
[sto_76: Search the list of datasets contained in public catalog (API)](https://utopia.sk/wiki/x/4wApAw)

[2015-09-30 13:52] #217 closed

[2015-09-30 13:52] skrchnavy opened #218 "sto_97: List of datasets contained in the public catalog (API)"
[sto_97: List of datasets contained in the public catalog (API)](https://utopia.sk/wiki/x/SoBmAw)

[2015-09-30 14:27] skrchnavy opened #219 "sto_36: Retrieving metadata about dataset via internal catalog API"
[sto_36: Retrieving metadata about dataset via internal catalog API](https://utopia.sk/wiki/x/yoL5Ag)

[2015-09-30 14:27] #219 closed

[2015-09-30 14:27] #218 closed

[2015-09-30 14:29] #136 closed

[2015-10-02 07:22] eea71 opened #220 "Intro page in Public catalog contains some strange data."
![image](https://cloud.githubusercontent.com/assets/10993265/10241267/016a1aac-68e7-11e5-95c0-0260fafb0721.png)

Version is not 1.1 but 1.2, and sample data text Im not sure is ok. Better would be empty place.

[2015-10-02 07:24] eea71 opened #221 "Intro page in Internal catalog contains some strange data."
![image](https://cloud.githubusercontent.com/assets/10993265/10241297/4c42d6a4-68e7-11e5-8437-a68519b9283c.png)
Same as in PC - version and sample data text.

[2015-10-02 07:26] eea71 opened #222 "Tolls menu after mouse over hiding menu item."
![image](https://cloud.githubusercontent.com/assets/10993265/10241316/8f682eac-68e7-11e5-956b-289dc965963d.png)
Probably theme problem...

[2015-10-02 07:44] eea71 opened #223 "Dataset contains several resources of the same name."
![image](https://cloud.githubusercontent.com/assets/10993265/10241544/21f844c6-68ea-11e5-8c68-f52d657e4896.png)

[2015-10-02 07:55] skrchnavy commented on #223
This is feature of CKAN, resource is identified by it's ID not name.
Is this against some requirement?

[2015-10-02 08:00] eea71 commented on #223
If there is more than one resource with the same name. Then it raised problems with updating in PC, because here it is according the name.

[2015-10-02 12:49] eea71 opened #224 "No validation of scheduling rules."
Today - 2.10.2015 I scheduled pipeline to august and september 2015? Is it ok?
![image](https://cloud.githubusercontent.com/assets/10993265/10246824/d02f10c2-6914-11e5-93ac-4f2d1b081fef.png)

[2015-10-02 12:55] eea71 opened #225 "It is possible to schedule pipeline non associated."
I disassociate pipeline. I click scheduler and I create rule for this pipeline. I was successful.
![image](https://cloud.githubusercontent.com/assets/10993265/10246924/7d303328-6915-11e5-85a0-4145b95dd506.png)

[2015-10-02 15:46] skrchnavy commented on #224
It is UnifiedViews Core issue, will be reported there

[2015-10-05 10:06] eea71 opened #226 "UV Error during pipeline export."
I tried to export pipeline. Some of the was exported ok. Some of them (not empty and most of them copies) throws err msg window.
![image](https://cloud.githubusercontent.com/assets/10993265/10277865/579dd76e-6b59-11e5-8f10-8db7e553c844.png)
Behaviour was not identical in each case.

[2015-10-05 10:12] skrchnavy commented on #226
Can you provide steps to reproduce (one or 2 examples)?
Or log from UnifiedViews frontend from affected time?

[2015-10-05 10:22] eea71 commented on #226
We found something like this:
2015-10-05 11:51:40,282 [ajp-bio-28009-exec-7]
ERROR cz.cuni.mff.xrg.odcs.frontend.AppEntry -
Uncaught exception java.net.SocketException: Connection reset

[2015-10-05 10:23] eea71 commented on #226
Steps are exactly according Test Case ODN-443 with Test Pipe 5 and Copy of 5 pipelines.

[2015-10-05 10:39] eea71 opened #227 "Missing uv-e-rdfFromSPARQL DPU in UV canvas."
According Test Case ODN-406 DPU Template has to contain  uv-e-rdfFromSPARQL DPU.
This DPU is in 1.2 missing.
![image](https://cloud.githubusercontent.com/assets/10993265/10278497/0aa48db8-6b5e-11e5-88a0-5da365c6c9c4.png)

[2015-10-05 10:44] skrchnavy commented on #227
There is DPU e-sparqlEndpoint that shall replace e-rdfFromSparql (see https://github.com/UnifiedViews/Plugins/blob/master/e-sparqlEndpoint/doc/About.md)

[2015-10-06 08:32] eea71 opened #228 "Tabular preview at public catalog is not running."
I created pipeline, associate it with dataset and execute. In IC is this result.
![image](https://cloud.githubusercontent.com/assets/10993265/10303655/81b88cb2-6c15-11e5-8648-e9a5b3b7576f.png)
In PC is next result.
![image](https://cloud.githubusercontent.com/assets/10993265/10303667/957cdbcc-6c15-11e5-9a44-a405164710f1.png)
Note: dataset is public.

[2015-10-06 08:38] eea71 opened #229 "Synchronization with public catalog throws errors."
I made action Synchronize with PC now - Dataset/Manage/Publishing.
![image](https://cloud.githubusercontent.com/assets/10993265/10303770/538cb038-6c16-11e5-9843-b67bea07dc4a.png)

[2015-10-06 09:21] tomas-knap commented on #227
Yes, this DPU was replaced by e-sparqlEndpoint

[2015-10-06 09:22] tomas-knap commented on #227
Please adjust the test case, then it can be closed

[2015-10-06 13:12] Jan-Marcek commented on #228
The possible problem could be caused by bug in synchronization - https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync.

[2015-10-07 06:12] Jan-Marcek opened #230 "Theme - formatting of icons looks strange"
The formatting of icons at the bottom looks strange.
Version: 1.2.0

![bug](https://cloud.githubusercontent.com/assets/5822680/10330244/ec29c83a-6cca-11e5-8bd6-dcdb9dc2baf9.png)

[2015-10-07 08:30] eea71 commented on #159
I think I really don't understand this discussion. When pipeline was removed from UV, in the moment of removing must be also remove relation to dataset. In this momet I have still associated pipeline with red message, I can click to Action and perform them. Ok, without success, but I think it is strange behaviour.
![image](https://cloud.githubusercontent.com/assets/10993265/10332574/69e90b06-6cde-

[2015-10-07 08:34] eea71 commented on #107
Login form is not available after logout.

[2015-10-07 08:50] eea71 commented on #144
No change in ODN 1.2.0.

[2015-10-07 09:01] eea71 commented on #94
In ODN 1.2.0 is ok.

[2015-10-07 09:02] #94 closed

[2015-10-07 09:03] eea71 commented on #159
In ODN 1.2.0 not fully fixed.

[2015-10-07 09:06] eea71 commented on #91
In ODN 1.2.0 is ok.

[2015-10-07 09:07] #91 closed

[2015-10-07 09:09] eea71 commented on #192
In ODN 1.2.0 I can't simulate this. Seems is ok.

[2015-10-07 09:12] eea71 commented on #130
After logout in IC and Midpoint, UV opened at the next tab shows one this page. But it is ok. In ODN 1.2.0 seems is ok.

[2015-10-07 09:13] #192 closed

[2015-10-07 09:13] #130 closed

[2015-10-07 10:16] skrchnavy commented on #130
It is not nice to see login screen but refresh of browser causes proper redirect to CAS login screen

[2015-10-07 10:36] mvi-eea-sk commented on #228
commit: https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/b1e56efef539e68aed53793a07f1bfad57de494e

[2015-10-08 08:19] OskarStoffan opened #231 "Missing configuration parameters in backend.properties"
When a pipeline uses uv-l-rdfToVirtuosoAndCkan, it returns a nullpointerexception error, this is caused by missing configuration parameters in backend.properties

The following properties are missing:

dpu.l-rdfToVirtuoso.username
dpu.l-rdfToVirtuoso.password
dpu.l-rdfToVirtuoso.jdbc.url
dpu.uv-l-rdfToVirtuosoAndCkan.dataset.uri.pattern
dpu.uv-l-rdfToVirtuosoAndCkan.resource.name

Tested on ODN v

[2015-10-08 08:31] Jan-Marcek commented on #231
I have just tasted with the parameters in backend.properties and it has worked.
[code]

[2015-10-08 10:27] OskarStoffan commented on #227
Changes made in Test Case ODN-406

[2015-10-08 10:28] #227 closed

[2015-10-08 10:55] OskarStoffan commented on #231
Yes, it works when the parameters are set in /etc/unifiedviews/backend-config.properties, tested on ODN v 1.2.0

[2015-10-10 14:33] OskarStoffan opened #232 "If a resource is created by uv-l-relationalToCKAN, the download URL is not correct both in IC and PC"
If a resource is created by uv-l-relationalToCkan DPU in the pipeline, the download URLs are:
not clickable in IC
not correct in IC
not clickable in PC
not correct in PC
'Download resource' button doesn't work in PC
'Data API' button is missing in PC
![ic](https://cloud.githubusercontent.com/assets/8984799/10411642/92cc531c-6f6c-11e5-955f-3b20b6ccbe66.png)
![pc](https://cloud.githubusercontent.com

[2015-10-12 12:51] mvi-eea-sk commented on #232
The URL issue can be solved by adding parameter ``` qualified=True ``` to url_for function used here:
https://github.com/OpenDataNode/odn-ckan/blob/odn/release-v2.3/ckanext/datastore/plugin.py#L272-L274
This will cause, that the full URL will be displayed and will be dynamically constructed. Meaning if you access katalog with:
http://demo.ckan.org/dataset/...
The resource URL will be too http//dem

[2015-10-14 13:03] Jan-Marcek opened #233 "synchronization fails when a organization field contains non-ASCII characters"
![image](https://cloud.githubusercontent.com/assets/5822680/10484241/33801856-7284-11e5-8671-f8e64326b3b8.png)

When a user presses verify then it fails.
Note: a organization field contains non-ASCII characters.
odn-box: 1.2.0
odn-ckan-shared: 2.3.2-odn1.2.0

log ```/var/log/apache2/odn-ckan-ic.error.log```
[code]

[2015-10-14 13:25] Jan-Marcek commented on #233
There is a difference between display_name and name.
display_name is shown to user on the ckan's page.
name is part of url.

When a user sees a organization with name Slovenská Národná Knižnica on the page https://demo.comsode.eu/organization/slovenska-narodna-kniznica then he has to use slovenska-narodna-kniznica as the name of organization

JSON response when organization_show was called
[code]

[2015-10-14 13:46] mvi-eea-sk commented on #233
Little bit misleading issue name. The synchronization doesn't fail, the verification of external catalog configuration does.
And yes there should be format validation of organization id / name given.

[2015-10-19 13:20] mvi-eea-sk commented on #229
fixed: https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/b1e56efef539e68aed53793a07f1bfad57de494e

[2015-10-20 10:34] #233 closed

[2015-10-24 07:56] OskarStoffan opened #234 "In 'My organizations' list no organization is listed"
Click to 'Dashboard' in IC
Click to 'My organizations'
no organization is listed
![1](https://cloud.githubusercontent.com/assets/8984799/10709614/8cfe39fe-7a35-11e5-830b-3d6b5ea0f623.png)

[2015-10-24 09:01] OskarStoffan opened #235 "No tabular preview is available in IC (using uv-l-relationalToCkan)"
The resource is created correctly in CKAN's datastore - both REST API and CSV file dump are OK (tabular preview is missing only).
![2](https://cloud.githubusercontent.com/assets/8984799/10709878/9733983e-7a3e-11e5-9cd1-972605cedf02.png)

[2015-10-28 10:30] cremarco opened #236 "Problem file upload on IC from UV"
I have to upload a file in the internal catalog but UV returns this error.
Response:{"help": "../internalcatalog/api/3/action/help_show?name=internal_api", "success": false, "error": {"__type": "Validation Error", "upload": ["File upload too large"]}}

It is a N3 file (about 200MB).
Some indication on how to solve this problem?

[2015-10-29 14:00] silv2 opened #237 "Unlinked URL"
In documentation for customers here - https://utopia.sk/wiki/display/ODN/download+latest+version+of+public+dataset+file+dump
is written that if I want to download resource I should click on URL, but it is not possible to click. I attach screenshot.
![screen shot 2015-10-29 at 14 58 56](https://cloud.githubusercontent.com/assets/7086112/10820491/c0c57cea-7e4d-11e5-944e-40976f71a061.png)

[2015-10-29 14:29] silv2 commented on #237
This bug relates just one concrete resource which you can see in screenshot.

[2015-12-01 15:46] hanecak opened #238 "update ODN packaging to support Debian Jessie (8.x)"
As of now (Dev 2015, ODN 1.2.0) ODN runs on Debian Wheezy (7.x) while Debian Jessie (8.x) is already available.

We need to update the packaging so that ODN runs also on the Debian Jessie (8.x), that's a MUST.

Optionally it would be good to still maintain compatibility with Debian Wheezy (7.x), if the differences between the two would allow to achieve that easily.

[2015-12-03 11:42] hanecak commented on #237
Few questions to clarify:

1. Is the resource loaded into ODN manually or via pipeline?
2. If via pipeline, which DPU are you using to load the data?
3. What version of ODN you're running?
4. Did you find some solution or workaround since reporting this?

Sorry for late response.

[2015-12-03 11:48] hanecak opened #239 "try to drop apache2-mpm-worker dependency"
ODN .DEB package, among other things depends on apach2 package. It also specifies concrete dependency on apache2-mpm-worker.

But this particular dependency clashes with for example Plex package, which relies on apache2-mpm-prefork: apache2-mpm-worker conflicts with apache2-mpm-prefork, they can't be installed at the same time thus it is hard to install both ODN and Plex at the same time on one ma

[2015-12-03 12:14] hanecak commented on #211
1. We should use only the first FQDN returned by `hostname -A`
2. We should update the installation instructions telling admins to check and make sure that `hostname -A` is returning desired FQDN as first one.

[2015-12-03 12:52] hanecak commented on #149
We will stay on same level on this as upstream CKAN.

If you need to add or remove some license in your ODN instance, please follow instructions at:

https://utopia.sk/wiki/pages/viewpage.action?pageId=53379826#FrequentlyAskedQuestions%28FAQ%29-HowcanIchangethelistofdatasetlicenses?

[2015-12-03 12:52] #149 closed

[2015-12-03 13:18] hanecak commented on #151
@OskarStoffan , we need to discuss user-stories for 'casadmin': He is supposed to be "admin" for all internal parts of ODN (internal catalog, UnifiedViews and midPoint).

In internal catalog in particular it means that he can be:
1. admin for organization he is member of and
2. sysadmin for whole internal catalog

We need to think that through (whether both or just 2.), we need to confront that wi

[2015-12-03 13:43] hanecak commented on #236
You need to raise the limit on file size (which is by default 10MB). Please follow instructions in FAQ: "*How can I load files bigger than 10 MB (CKAN default)?*"

https://utopia.sk/wiki/pages/viewpage.action?pageId=53379826#FrequentlyAskedQuestions%28FAQ%29-HowcanIloadfilesbiggerthan10MB%28CKANdefault%29?

[2015-12-03 13:43] #236 closed

[2015-12-03 13:53] hanecak commented on #119
Fixing this (with re-use of https://github.com/datagovuk/ckanext-datapreview) should fix also #197 and #235.

[2015-12-03 14:20] hanecak commented on #223
Desired behaviour:
1. to have "Overwrite existing resources" checked by default
2. to fail to create (new, duplicate) resource(s) if "Overwrite existing resources" is not checked and resource with same name already exists

That would be a consistent behaviour and in line with how uv-l-filesToCkan is already implementing it:
![screenshot from 2015-12-03 15 14 02](https://cloud.githubusercontent.com

[2015-12-03 14:31] hanecak commented on #221
This is intended behaviour for resh installation of ODN - user (ODN owner) is supposed to customize that, for example by:
1. putting some usage instructions into ODN/InternalCatalog (IC)
2. putting some welcome message and link to homepage of his organization into ODN/PublicCatalog (PC)

As this was filled for ODN 1.1, I'm leaving the issue open for now. We will re-test it on ODN 1.2.x plus add in

[2015-12-03 14:33] hanecak commented on #220
IIRC already fixed. We will retest in ODN 1.2.1 .

[2015-12-03 14:40] hanecak commented on #189
http://localhost:8890/sparql is undocumented, internal URL for SPARQL endpoint provided by ODN instance and is (still) usable in the pipelines running on that same instance => no need to do anything.

Official SPARQL endpoint accessible via http://hostname/sparql (or for pipelines on that same ODN instance via http://localhost/sparql) is a new feature in ODN 1.1.0 => no need to document a change,

[2015-12-03 14:40] #189 closed

[2015-12-03 14:49] hanecak commented on #132
Aha, now I understand.

OK, CKAN is handling that situation in a way as shown in your screenshot, i.e. in case of collision with existing dataset user is expected to both:
1. update the title
2. update the URL

(i.e. once he updates the title, he no longer enjoys luxury of having the URL be regenerated for him)

Well, that's how upstream CKAN chose to handle this. So I'm closing this as "wont fix"

[2015-12-03 14:49] #132 closed

[2015-12-03 14:52] hanecak commented on #129
The idea behind re-use of CKAN in ODN is to stay as close to upstream as possible as maintaining differences is expensive.

In this particular case I think the cost outweighs the benefit so:
1. we will leave the default same as in CKAN (i.e. "wont fix")
2. whoever wants higher limit, can follow instructions in FAQ: https://utopia.sk/wiki/pages/viewpage.action?pageId=53379826#FrequentlyAskedQuestio

[2015-12-03 14:52] #129 closed

[2015-12-03 14:55] hanecak commented on #128
Yup, this is resolved, but only in the source code, devel branch. But the fix did not kade it into ODN 1.2.0 build so it will be in ODN 1.2.1 .

We will close the issue after solution is confirmed to be working in ODN 1.2.1 release.

[2015-12-03 14:58] hanecak commented on #127
#111 and #34 are closed now. Can you please re-try this with ODN 1.2.0?

If it works, please close this issue.

If it still does not work, please add comment and I'll re-plan this.

[2015-12-03 15:02] hanecak commented on #110
@OskarStoffan is right, publishers should typically follow sto_48 (#137) , sto_49 (#138).

But, delete is delete and might be handy in case of some fatal errors.

So delete of dataset in IC should be possible and should also delete the dataset in PC. @mvi-eea-sk , do you see a problem implementing this?

(because if yes, then only workaround is possible: ODN admin will take log in also into PC and

[2015-12-03 15:05] hanecak commented on #47
"Long timer ago" we've decided that we will not implement Wizards, yet.

This decision still holds, so I'm closing this.

[2015-12-03 15:05] #47 closed

[2015-12-03 15:07] hanecak commented on #40
IIRC comments should be there but disabled by default, so:
1. verify, whether I do remember correctly
2. update user documentation (and user story) to make clear what the current status is

[2015-12-03 15:46] eea03 commented on #223
Which version of DPU was used?
I cannot reproduce it. From what I can say, it behaves as expected.
When overwrite not checked and resource already exists, it raises the warning (probably should be error):
[code]
I tested it with various resource names including "INE"
I cannot understand why this would not work, it uses the same mechanism as FilesToCkan.

I was testing with DPU v 1.1.6 but there we

[2015-12-04 08:54] mvi-eea-sk commented on #110
@hanecak it shouldn't be hard to implement

Note: its not possible to permanently delete (purge) dataset through api, only sysadmin can do that. it only changes its state to "deleted" so it can't be displayed and its not publicly accessible.

[2015-12-07 14:22] Jan-Marcek commented on #231
fixed. please,  look on the https://github.com/OpenDataNode/odn-box/issues/42 for more information

[2015-12-17 09:51] mvi-eea-sk commented on #232
commit: https://github.com/OpenDataNode/odn-ckan/commit/4f39e407188ccf1245ca09bfb9cc08632a7efa87 (in the commit message, there is wrong issue referenced)

[2015-12-17 17:05] hanecak commented on #128
Update: Using ODN 1.2.0 (with UnifeidViews 2.2.0) I have 74 MB of data in /var/log/unifiedviews/frontend/catalina.out as a result of past 10 days while doing not that much with ODN/UV.

I'm seeing lots of lines like:

[code]

i.e. one such line each few seconds.

Please take one more look at this.

[2015-12-18 13:56] tomas-knap commented on #128
In the current master branch, persistence is at DEBUG level - https://github.com/UnifiedViews/Core/blob/master/frontend/src/main/webapp/WEB-INF/classes/logback.xml#L53. In the next release it is already set to be at the level of WARN - https://github.com/UnifiedViews/Core/blob/release/UV_Core_v2.3.0/frontend/src/main/webapp/WEB-INF/classes/logback.xml#L53

[2016-01-11 09:03] eea71 opened #240 ""Sample data" at the ODN screen."
I login to ODN, then I click to ODN icon at the top. I obtained this screen.
![image](https://cloud.githubusercontent.com/assets/10993265/12229706/94f0096e-b84a-11e5-8737-0fa4cf6dac39.png)

[2016-01-11 12:20] eea71 opened #241 "Pipeline removed from UV is still associated and is possible make Actions."
Dataset has associated pipeline. A removed it from UV. I refreshed list of pipelines for dataset.
Actions panel is active and possible to push all menu items.
![image](https://cloud.githubusercontent.com/assets/10993265/12233258/fd6d1b4c-b865-11e5-86a7-28d12b1f6f73.png)

[2016-01-11 12:20] hanecak opened #242 "record count in IC and PC is different"
OpenData.sk is running ODN at http://odn.opendata.sk/ to collect some datasets from others.

One of mirrored datasets is "Vestník verejného obstrávania od roku 2006" published by Aliancia Fair-
Play.

Original `procurements.csv` has (as of 11.1.2016) 75273 records.

Pipeline (https://opendata.in.eea.sk/unifiedviews/#!PipelineEdit/2) is pushing contents of that file also to DataStrore using `uv-l-r

[2016-01-11 12:28] eea71 opened #243 "Err msg window stays at the screen, but all tabs are active."
When I obtained err window in UV (for example I want to configure removed pipeline associated with dataset) err msg window allow to click to ohter tabs.
![image](https://cloud.githubusercontent.com/assets/10993265/12233389/30556fae-b867-11e5-8273-ca59fe2778c6.png)

[2016-01-12 09:27] #119 closed

[2016-01-12 09:28] Jan-Marcek commented on #119
The server was not visible from internet therefore csv plugin was unable to show preview. We can close it.

[2016-01-12 09:30] Jan-Marcek opened #244 "unable to create pipeline from internalcatalog"
it's UV issue: https://github.com/UnifiedViews/Core/issues/567

version: 2.3.0
commit id: 7fcf1ffefce48730590c089b280c09949bdc257c

UV was installed via debian packages. UV was set up for open data node. Please, try if a creation via rest api is still working.
Thanks a lot.
NOTE: similar to https://github.com/UnifiedViews/Core/issues/558
master.log

[code]

[2016-01-14 09:27] eea71 opened #245 "Execution monitor change information from scheduled to manual."
I created scheduling rule for Test Pipe 3 - each minute. I waited a couple of minutes.
After I disable rule and remove it. In execution monitor change icon informing about way of running.
![image](https://cloud.githubusercontent.com/assets/10993265/12320499/47933342-baa9-11e5-9ece-084b41d9ea15.png)

[2016-01-18 07:59] Jan-Marcek commented on #243
Unifiedviews: 2.3.0

[2016-01-18 07:59] Jan-Marcek commented on #241
Unifedviews: 2.3.0

[2016-01-18 07:59] Jan-Marcek commented on #240
odn-simple: 1.2.3

[2016-01-18 08:04] Jan-Marcek commented on #240
duplicated:  https://github.com/OpenDataNode/open-data-node/issues/221

[2016-01-18 08:44] #222 closed

[2016-01-18 08:45] #230 closed

[2016-01-18 09:39] #229 closed

[2016-01-18 09:39] #228 closed

[2016-01-18 10:01] #211 closed

[2016-01-18 10:01] #231 closed

[2016-01-18 10:03] #239 closed

[2016-01-18 11:16] #232 closed

[2016-01-18 13:38] Jan-Marcek opened #246 "to improve slovak translation in IC and PC"

[2016-01-18 13:39] Jan-Marcek commented on #246
fixed by https://github.com/OpenDataNode/odn-box/commit/75fab127bcc49a1fd80feb92c197d85c5402fa98

[2016-01-18 13:39] #246 closed

[2016-01-19 14:14] eea71 opened #247 "Disassociated pipeline is still scheduled."
I created schedule rule for 2 pipeline. Test Pipe 1 and Test Pipe 2. I disassociated them - firstly Test Pipe 1 and then Test Pipe 2. After each disassociation I saw scheduler and refresh. The second disassociated pipe stayed still in scheduler.
![image](https://cloud.githubusercontent.com/assets/10993265/12420853/546da150-bebf-11e5-95ef-f7c60f08dbd5.png)

[2016-01-25 09:06] mvi-eea-sk commented on #242
This is more of a performance issue than a bug.
The datastore synchronization is done in chunks of size 50000 rows per request.
Issues found:
* the chunk is just too big and can in some situation cause out of memory issue
* apache: the number of server processes started and allowed to start can reduce the memory available
* nginx: (parameter: keepalive_timeout 65;) the default request timeout is 6

[2016-01-25 09:07] #242 closed

[2016-02-02 12:45] hanecak commented on #221
ODN documentation has been updated regarding how to customize default catalogue home pages, see:

https://utopia.sk/wiki/display/ODN/manage+default+content+of+public+catalog+welcome+screen

[2016-02-02 12:45] #221 closed

[2016-02-02 12:45] hanecak commented on #240
ODN documentation has been updated regarding how to customize default catalogue home pages, see:

https://utopia.sk/wiki/display/ODN/manage+default+content+of+public+catalog+welcome+screen

[2016-02-02 12:45] #240 closed

[2016-02-02 12:46] hanecak commented on #220
ODN documentation has been updated regarding how to customize default catalogue home pages, see:

https://utopia.sk/wiki/display/ODN/manage+default+content+of+public+catalog+welcome+screen

[2016-02-02 12:46] #220 closed

[2016-02-26 15:19] hanecak opened #248 "uv-l-relationaldiffToCkan - OutOfMemoryError: Requested array size exceeds VM limit"
Following pipeline:

https://odn.opendata.sk/unifiedviews/#!PipelineEdit/3

tries to load http://odn.opendata.sk/datanest-mirror/organizations/organizations.csv into CKAN using uv-l-relationaldiffToCkan.

organizations.csv is 1GB big. uv-t-tabularToRelational is able to extract data from it but an attempt to load that data into CKAN DataStore by uv-l-relationaldiffToCkan fails with:

[code]

[2016-02-29 21:57] hanecak opened #249 "minor packaging clean-up"
Package description and other stuff was updated to match pattern in other ODN packages:

- odn-box: see https://github.com/OpenDataNode/odn-box/pull/45
- odn-cas: see https://github.com/OpenDataNode/odn-cas/pull/6
- odn-ckan: see https://github.com/OpenDataNode/odn-ckan/commit/d8dd4145cfcf9504c240efeb4ead21cd7d18c735 (*)
- odn-midpoint: see https://github.com/OpenDataNode/odn-midpoint/commit/2525b

[2016-03-02 13:38] Jan-Marcek opened #250 "error"

[2016-03-02 13:38] #250 closed

[2016-03-02 13:43] Jan-Marcek commented on #249
merged

[2016-03-09 08:43] eea71 opened #251 "Missing organization in My Organization tab."
I click at the comsode user and at the tab My organizations and I don't see COMSODE. Is it ok?
![image](https://cloud.githubusercontent.com/assets/10993265/13629726/56f9d3e2-e5db-11e5-826c-c31cd021dd73.png)

[2016-03-10 13:23] hanecak commented on #251
This is duplicate of #234.

[2016-03-17 11:48] hanecak opened #252 "update CKAN in ODN to 2.3.5 (plan was 2.5.2)"
We have CKAN 2.3.2 in ODN <s>1.2.4</s> 1.3.0 .

As of now (17.3.2016) following new releases of CKAN are available (see http://docs.ckan.org/en/latest/changelog.html):
1. 2.5.2
2. 2.4.3
3. 2.3.4

We need to keep up with upstream and update to CKAN in ODN to <s>2.5.1</s> 2.5.2 or some lower but newer version to bring bugfixes and new features to ODN users.

[2016-03-17 11:56] hanecak opened #253 "update midPoint in ODN to 3.3"
We have midPoint 3.2 in ODN 1.2.4 .

As of now (17.3.2016) midPoint version 3.3 is available (see https://evolveum.com/download/).

We need to keep up with upstream and thus update midPoint in ODN to 3.3 to bring bugfixes and new features to ODN users.

[2016-03-17 12:07] hanecak opened #254 "update SOLR in ODN to 5.5.0"
We have Apache SOLR 4.10.2 in ODN 1.2.4 .

As of now (17.3.2016) following newer releases of SOLR are available (see http://tux.rainside.sk/apache/lucene/solr/):

1. 5.5.0
2. 5.4.1
3. 5.3.2
4. 5.2.1
5. 4.10.4

We need to keep up with upstream and update SOLR in ODN to 5.5.0 or some lower but newer version to bring bugfixes and new features to ODN users.

[2016-03-18 09:16] #238 closed

[2016-03-21 14:44] hanecak commented on #249
odn-box, odn-cs and odn-ckan seem OK.

odn-midpoint needs a release (ODN_v1.2.1 if I'm not mistaken), odn-solr too (as ODN_v1.1.3)(*) and also ODN-UV-Plugins (ODN_v1.2.3).

Please do those also and then close this issue. Thank you in advance.

(*) As written before, I guess I've commited to wrong branch. Please advice if I need to commit that change somewhere else.

[2016-04-01 09:01] Jan-Marcek commented on #249
done. odn-midpoint, odn-solr ,  ODN-UV-Plugins are published

[2016-04-01 09:01] #249 closed

[2016-04-14 10:25] hanecak opened #256 "unify logging and log less by default"
This issue track various minor improvements in how ODN components log:

* https://github.com/OpenDataNode/odn-cas/pull/9
* #128

The main theme is making sure to:

1. log at INFO or WARN level by default
2. rotate logs daily
3. remove logs older than 7 days

[2016-04-14 18:57] hanecak commented on #252
CKAN API changed quite dramatically in 2.4.0+ (compared to 2.3.2). This has impact for other modules (ckanext-odn-ic2pc-sync, ckanext-audited-datastore-api, UVPlugin-relationalFromCKAN, UVPlugin-filesFromCKAN, UVPlugin-filesToCKAN, UVPlugin-relationalToCKAN, UVPlugin-relationalDiffToCKAN) and Martin's estimate of amount of work required is higher then expected.

Thus this will most probably not ma

[2016-04-14 19:02] hanecak commented on #128
OK, so if we resolve https://github.com/UnifiedViews/Core/issues/567 (and not run into more of those) we can have UnifiedViews 2.3.0 in ODN 1.3.0 and thus fix also this. Lets make this a plan for now.

[2016-04-14 19:14] hanecak commented on #62
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that:

1. bug is truly old (we're actually not supporting anything before actual minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older)
2. this behaviour is from upstream, so if it is deemed a bug again, we will raise it with upstream

Having said that, whoever is negatively affected by this again in the f

[2016-04-14 19:14] #62 closed

[2016-04-14 19:29] hanecak commented on #61
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older).

[2016-04-14 19:29] #61 closed

[2016-04-14 19:31] hanecak commented on #73
Priority updated to be in line with priority of upstream issue.

[2016-04-14 19:32] hanecak commented on #81
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older).

[2016-04-14 19:32] #81 closed

[2016-04-14 19:36] hanecak commented on #106
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older).

Having said that, whoever is negatively affected by this again in the future, please reopen this.

Note: IIRC "reconcile" is no longer needed in usual ODN installation process, so this is truly

[2016-04-14 19:36] #106 closed

[2016-04-14 19:39] hanecak commented on #117
The best possible solution is to "redirect" the "Settings" in ODN/InternalCatalog into ODN/midPoint, so as to direct user the way Oskar's screenshot shows.

So to answer Jindrich: Current behaviour is not the expected one.

[2016-04-14 19:40] hanecak commented on #120
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that:

1. bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older)
2. this behaviour is from upstream (CKAN), so if it is deemed a bug again, we will raise it with upstream

Having said that, whoever is negatively affected by this again in the future, pleas

[2016-04-14 19:40] #120 closed

[2016-04-14 19:41] hanecak commented on #123
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that:

1. bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older)
2. this behaviour is from upstream (CKAN), so if it is deemed a bug again, we will raise it with upstream

Having said that, whoever is negatively affected by this again in the future, pleas

[2016-04-14 19:41] #123 closed

[2016-04-14 19:42] hanecak commented on #127
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older).

Having said that, whoever is negatively affected by this again in the future, please reopen this.

[2016-04-14 19:46] hanecak commented on #163
@mvi-eea-sk , option a) is desirable.

First, we try to update CKAN (see #252) and if the problem persist, we will raise this with upstream to find best solution (having a fix in our fork would work for ODN but would leave upstream at disadvantage).

[2016-04-14 19:48] hanecak commented on #247
Maybe not exactly, but seems to be related to #168.

[2016-04-14 19:50] hanecak commented on #225
This behaviour seems OK - user should be able to work with and schedule pipelines even if they are not associated with datasets.

Note: On the other hand, user would need to be careful, because if he's using *ToCkan loaders, those will fail (without association, they are not able to push data into ODN/InternalCatalog). But that's expected behaviour too.

[2016-04-14 19:50] #225 closed

[2016-04-14 19:51] hanecak commented on #224
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older).

Having said that, whoever is negatively affected by this again in the future, please reopen this.

[2016-04-14 19:51] #224 closed

[2016-04-14 19:52] hanecak commented on #181
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that:

1. bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older)
2. this behaviour is from upstream (CKAN), so if it is deemed a bug again, we will raise it with upstream

Having said that, whoever is negatively affected by this again in the future, pleas

[2016-04-14 19:52] #181 closed

[2016-04-14 19:53] hanecak commented on #198
In an attempt to clean-up our backlog, I'm closing this as "wont fix" given that:

1. bug is truly old (we're supporting only most recent minor release, i.e. as of ODN 1.2.5, we're supporting 1.2.x, not older)
2. this behaviour is from upstream (CKAN), so if it is deemed a bug again, we will raise it with upstream

Having said that, whoever is negatively affected by this again in the future, pleas

[2016-04-14 19:53] #198 closed

[2016-04-19 11:02] Jan-Marcek commented on #127
It hasn't been fixed in the latest release

[2016-05-03 12:15] hanecak opened #257 "replicate logrotate stuff from Tomcat7 in odn-cas, odn-midpoint, odn-solr, unifiedviews-backend and unifiedviews-frontend"
In ODN, we have odn-cas, odn-midpoint, odn-solr, unifiedviews-backend and unifiedviews-frontend deployed in their own Tomcat instances. Those are logging to catalina.out, each to their own. But unlike Tomat7, those ODN modules do not ship logrotate settings so the logs is not rotated and grows "forever".

So, please, replicate Tomat7 logrotate stuff in mentioned ODN modules.

More info based on co

[2016-05-03 12:35] hanecak commented on #128
OK, https://github.com/UnifiedViews/Core/issues/567 was resolved and tested few days ago. But it's quite late for ODN 1.3.0 so I'm replanning this for ODN 1.4.0 .

[2016-05-03 12:36] hanecak commented on #256
I'm replanning this for ODN 1.4.0 due to #128 and #257.

[2016-05-03 12:46] hanecak opened #258 "update UnifiedViews to 2.3.1"
New UnifiedViews 2.3.1 was agreed to be release during May 2016. This will fix also some of our issues: #128 (and thus in turn also #256). So we need to update ODN to use this version.

As of now, we're at 2.2.0 . We need to keep up with upstream to bring bugfixes and new features to ODN users.

[2016-05-11 11:54] hanecak commented on #193
After update of ODN/midPoint (see #253) password change is more intuitive, using Tools > User Management > Credentials screen (see https://utopia.sk/wiki/display/ODN/modify+user's+own+user+profile).

[2016-05-11 11:54] #193 closed

[2016-05-11 11:55] hanecak commented on #188
After update of ODN/midPoint (see #253) password change is more intuitive, using Tools > User Management > Credentials screen (see https://utopia.sk/wiki/display/ODN/modify+user's+own+user+profile).

Note: This is duplicate of #193.

[2016-05-11 11:55] #188 closed

[2016-05-11 12:01] hanecak commented on #253
Looks good. I've already updated user documentation. We can go ahead and resolve this.

[2016-05-11 12:22] Jan-Marcek commented on #110
There were same problem on the different line.
Fixed by previous commit

[2016-05-11 12:23] hanecak opened #259 "ODN CAS: rotate log file daily, not hourly"
See https://github.com/OpenDataNode/odn-cas/pull/9 for details.

[2016-05-11 13:44] hanecak opened #260 "ODN 1.2.4: Problem in external catalog sync"
See https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/issues/25 for more details.

[2016-05-20 11:00] Jan-Marcek opened #261 "Synchronization problem between ic and pc"
error message:  ```initializer for ctype 'int(*)(int, X509_STORE_CTX *)' must be a pointer to same type, not cdata 'int(*)(int, X509_STORE
_CTX *)'```

![image](https://cloud.githubusercontent.com/assets/5822680/15425744/b8a07e6a-1e8a-11e6-8eaa-1128f38aa031.png)

[2016-05-23 08:09] Jan-Marcek commented on #261
relates https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/issues/15

[2016-05-24 15:53] hanecak commented on #253
ODN 1.3.0 released just now with updated midPoint.

[2016-05-24 15:53] #253 closed

[2016-05-24 15:54] hanecak commented on #260
Fix part of just release ODN 1.3.0 . Resolved.

[2016-05-24 15:54] #260 closed

[2016-05-27 14:18] hanecak opened #262 "update UnifiedViews plug-ins"
Along with UnifiedViews 2.3.1 (due in few days, see also #258 ) also updates for some DPUs are planned:

- new DPU - executor of HTTP GET/POST queries (for now at https://github.com/UnifiedViews/Plugins/tree/develop/e-httpRequest)
- new DPU for data fusion (https://github.com/UnifiedViews/Plugins/tree/develop/t-fusionTool)
- minor fixes to other DPUs:
  - https://github.com/OpenDataNode/UVPlugin-r

[2016-06-06 13:29] Jan-Marcek commented on #257
unifiedviews - https://github.com/UnifiedViews/Core/issues/582

[2016-06-07 10:01] Jan-Marcek commented on #128
Unifiedviews pull request: https://github.com/UnifiedViews/Core/pull/583

[2016-06-10 14:40] hanecak opened #263 "NullPointerException when NULL value is processed by relational DPUs"
PROBLEM 2 from support mailing list posting (https://groups.google.com/forum/#!msg/odn-support/csP2S_wyz5I/hVqym_qeBQAJ):

It seems that if a relational table created by  uv-relationalFromSQL contains a column with NULL values any cascading relational DPU fails (e.g. relationalToCKAN or relationalToRFD) always fail

"Failed to create resource / datastore elenco_impianti_sportivi for table INTERNAL

[2016-06-12 16:11] eea03 commented on #263
Fixed in https://github.com/OpenDataNode/UVPlugin-relationalDiffToCKAN/pull/11 and https://github.com/OpenDataNode/UVPlugin-relationalToCKAN/pull/17

Same problem for both RelationalToCkan and RelationalDiffToCkan DPUs

[2016-06-12 16:20] eea03 commented on #263
I have not found any problem with RelationalToRdf DPU, I couldn't reproduce any problems with table containing null values

[2016-06-20 08:38] hanecak opened #264 "ODN/UnifiedViews: Unexpected error occurred in scheduled task: Config is missing property: exec.log.history"
This just tracks upstream issue: https://github.com/UnifiedViews/Core/issues/585

regarding:

[code]

[2016-06-23 10:45] hanecak commented on #258
Pre-release of UnifiedViews 2.3.1 is available so we can test it with ODN and if all is OK, can proceed with update.

[2016-06-23 13:37] hanecak commented on #110
OK, last commit (https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/commit/acd245530de6d095c3af80b628c0758413a66567) went into ODN 1.3.0, closing.

[2016-06-23 13:37] #110 closed

[2016-07-01 14:40] #256 closed

[2016-07-01 14:40] #258 closed

[2016-07-22 12:17] Jan-Marcek commented on #261
is fixed by https://github.com/OpenDataNode/ckanext-odn-ic2pc-sync/issues/15

[2016-08-02 06:24] #262 closed

[2016-08-02 06:24] #259 closed

[2016-08-02 06:24] #257 closed

[2016-08-02 06:24] #128 closed

[2016-08-04 08:38] hanecak commented on #261
Fix included in ODN 1.5.0 .

[2016-08-04 08:38] #261 closed

[2016-08-04 08:51] hanecak commented on #263
Fixes included in ODN 1.5.0 (ODN Plugins v1.3.0).

[2016-08-04 09:29] hanecak opened #265 "include t-excelToCsv in ODN"
XLS to CSV transformed DPU is being created at https://github.com/OpenDataNode/UVPlugin-excelToCsv . Please work with DPU author to finish the code, test it and include it in the ODN.

[2016-08-26 09:19] hanecak commented on #248
Issue still present in ODN 1.4.0, with slightly different stack trace:

`Execution failed because: DPU.innerExecute throws throwable.eu.unifiedviews.dpu.DPUException: DPU.innerExecute throws throwable.
at eu.unifiedviews.helpers.dpu.exec.AbstractDpu.execute(AbstractDpu.java:141)
at cz.cuni.mff.xrg.odcs.backend.execution.dpu.DPUExecutor.executeInstance(DPUExecutor.java:248)
at cz.cuni.mff.xrg.odcs.

[2016-08-26 12:36] hanecak commented on #263
We forgot to merge the fix from develop to master thus - sadly - ODN 1.5.0 does not contain the fix. So I'm reopening the issue.

See also https://github.com/OpenDataNode/UVPlugin-relationalDiffToCKAN/pull/12 .

[2016-08-29 17:05] hanecak commented on #265
Completion depends on https://github.com/OpenDataNode/UVPlugin-excelToCsv/pull/1 , https://github.com/UnifiedViews/Plugins/pull/389 and https://github.com/UnifiedViews/Core/pull/594 .

[2016-09-19 10:35] eea03 commented on #263
Fixes are included in ODN_UV Plugins release v1.3.1
https://github.com/OpenDataNode/ODN-UV-Plugins/releases/tag/ODN_v1.3.1

[2016-09-23 14:42] hanecak commented on #265
Completion depends on https://github.com/UnifiedViews/Plugins/pull/391 (replacing https://github.com/OpenDataNode/UVPlugin-excelToCsv/pull/1). Plus those other two mentioned previously.

[2016-09-23 14:45] hanecak commented on #264
Fix merged in upstream to 'develop' branch, now waiting for the fix to occur in stable release.

[2016-10-06 17:25] hanecak commented on #265
Completion depends also on https://github.com/OpenDataNode/ODN-UV-Plugins/issues/7 .

[2016-10-06 17:38] hanecak opened #266 "update httpclient and httpcore libraries in ODN/UnifiedViews"
To benefit from fixes in upstream and also to have just one version of that library, update all references to httpcleint and httpcore libraries in ODN/UnifiedViews.

This depends on:
- https://github.com/UnifiedViews/Plugins/pull/396
- https://github.com/UnifiedViews/Core/pull/597

[2016-10-26 12:22] hanecak opened #267 "update UnifiedViews in ODN to version 2.3.2"
On Oct 21st, UnifiedViews 2.3.2 was release - see https://github.com/UnifiedViews/Core/releases/tag/UV_Core_v2.3.2 . Update ODN to use this latest bug-fix release.

[2016-10-26 12:25] hanecak opened #268 "update UnifiedViews Plugins in ODN to version 2.2.3"
On Oct 21st, UnifiedViews Plugins 2.2.3 was release - see https://github.com/UnifiedViews/Plugins/releases/tag/UV_Plugins_v2.2.3 . Update ODN to use this latest feature release, to take advantage of new DPUs and bugfixes.

[2016-10-26 12:27] hanecak commented on #268
This update will also fix #265 .

[2016-10-26 20:32] hanecak opened #269 "odn-simple 1.5.0 list wrong odn-ckan-shared shared dependency"
odn-simple 1.5.0 list wrong odn-ckan-shared shared dependency: >= 2.3.2-odn1.3

Good dependency (>= 2.3.2-odn1.5) got stuck in develop branch.

Make sure dependency is correct in upcomming ODN 1.6.0 .

[2016-10-26 20:35] hanecak opened #270 "update midPoint in ODN to version 3.3.1"
ODN 1.5.0 contains midPoint 3.3 . midPont [3.3.1](https://wiki.evolveum.com/display/midPoint/Release+3.3.1) was released, so we want to bring this bug-fix release to ODN too.

(note: We will update midPoint to [3.4.1](https://wiki.evolveum.com/display/midPoint/Release+3.4.1) or newer later on)

[2016-10-26 21:18] hanecak opened #271 "repoze.who.plugins.cas: logs back to "upstream""
see https://github.com/OpenDataNode/repoze.who.plugins.cas/pull/1

[2016-11-15 12:50] hanecak opened #272 "update LDAP connector in ODN/midPoint"
In #270 we've updated midPoint in ODN to version 3.3.1. But [release notes for 3.3.1](https://wiki.evolveum.com/display/midPoint/Release+3.3.1) mention also following:

When the version was updated only in `pom.xml`, build went OK but it was not possible to log into private part of ODN. THus, some other changes are needed too to update the connector.

[2016-11-15 12:52] hanecak opened #273 "update midPoint in ODN to version 3.4.1"
ODN 1.6.0 contains midPoint 3.3.1 . midPont [3.4.1](https://wiki.evolveum.com/display/midPoint/Release+3.4.1) was released, so we want to bring this bug-fix release to ODN too.

Note: Do not forget that LDAP connector was updated too, see #272.

[2016-11-15 12:52] hanecak commented on #270
midPoint updated to 3.3.1 in ODN 1.6.0 .

Some follow-up work remained: #272 .

[2016-11-15 12:52] #270 closed, assigned to hanecak

[2016-11-15 13:37] hanecak commented on #271
Fixed in ODN 1.6.0 .

[2016-11-15 13:37] #271 closed, assigned to hanecak

[2016-11-15 13:40] hanecak commented on #269
Fixed in ODN 1.6.0 , see https://github.com/OpenDataNode/odn-box/commit/aeddf5309e8a044e6feb9bc23990b350360a94a5 .

[2016-11-15 13:40] #269 closed, assigned to hanecak

[2016-11-15 13:42] hanecak commented on #268
Plugins updated in ODN 1.6.0, see https://github.com/OpenDataNode/ODN-UV-Plugins/commit/faa18f510353fa7995e8353162b032d1ef928057 .

[2016-11-15 13:42] #268 closed, assigned to hanecak

[2016-11-15 13:44] hanecak commented on #267
UnifiedViews updated to 2.3.2 in ODN 1.6.0.

[2016-11-15 13:44] #267 closed, assigned to hanecak

[2016-11-15 13:46] hanecak commented on #266
Upstream merged pull requests and we've included those updates in ODN 1.6.0 .

[2016-11-15 13:46] #266 closed, assigned to hanecak

[2016-11-15 13:49] hanecak commented on #265
DPU included in ODN-UV-Plugins 1.4.0, part of ODN 1.6.0 .

[2016-11-15 13:49] #265 closed, assigned to hanecak

[2016-11-15 13:52] hanecak commented on #263
Fixes shipped also in ODN-UV-Plugins 1.4.0 (https://github.com/OpenDataNode/ODN-UV-Plugins/releases/tag/ODN_v1.4.0) which is part of ODN 1.6.0 .

[2016-11-15 13:52] #263 closed

[2016-11-15 14:08] hanecak commented on #264
Fixed in UnifiedViews 2.3.2 which is included in ODN 1.6.0 .

[2016-11-15 14:08] #264 closed

[2016-11-15 18:26] hanecak commented on #199
That is a limitation in CKAN. Given performance and security constrains of such a limit, its hard to fix. Default limit is 5MB. If big files are used and server has enough memory, limit can be increased by setting bigger value for `ckan.datapreview.limit`.

See http://extensions.ckan.org/extension/datapreview/#limit for more information.

[2016-11-15 18:26] #199 closed

[2016-11-15 18:29] hanecak commented on #197
If not mistaken (issue is too old and details sketchy) this affects "private installations", i.e. those not seen from outside (over Internet). And that seems to be known limitation to CKAN, see http://extensions.ckan.org/extension/datapreview/#problems .

If the problems becomes pressing, we may try to somehow obtain the fix used by data.gov.uk .

[2016-11-15 18:29] #197 closed

[2016-11-16 08:28] hanecak commented on #235
Looks like clone of #119 which is closed (see https://github.com/OpenDataNode/open-data-node/issues/119#issuecomment-170850197) thus closing also this.

[2016-11-16 08:28] #235 closed

[2016-11-16 08:33] hanecak commented on #187
This is not happening in ODN 1.6.0 (odn-midpoint_1:3.3.1-odn1.6.0). Thus closing.

[2016-11-16 08:33] #187 closed

[2016-11-16 08:38] hanecak commented on #186
In ODN 1.5.0 it works. Closing.

[2016-11-16 08:38] #186 closed

[2016-11-23 08:55] hanecak opened #274 "Unable to create directory for deployment: /etc/odn-midpoint/tomcat/Catalina/localhost"
Following error message was found in `/var/log/odn-midpoint/catalina.out`:

ODN 1.6.0 used.

We do have `/var/cache/odn-midpoint/Catalina` (similarly to `/var/cache/odn-cas/Catalina` for ODN/CAS) so the bugh might be only in Tomcat configuration for ODN/midPoint.

[2016-11-23 13:56] hanecak opened #275 "fix QA Plugins .DEB dependency"
See https://github.com/UnifiedViews/Plugins-QualityAssessment/pull/25 for more details.

Note: This should fix also https://github.com/OpenDataNode/ODN-UV-Plugins/issues/8 .

[2016-11-25 12:50] hanecak commented on #244
Upstream issues are fixed and I've tested it in ODN 1.6.0: works properly now. Closing.

[2016-11-25 12:50] #244 closed

[2016-11-28 15:19] hanecak opened #276 "update CKAN in ODN to 2.6.0"
We have CKAN 2.3.2 (2.3.5 soon, see #252) in ODN 1.6.0 .

As of now (28.11.2016) following new releases of CKAN are available (see http://docs.ckan.org/en/latest/changelog.html):
1. 2.6.0
2. 2.5.3
3. 2.4.4

We need to keep up with upstream and update to CKAN in ODN to 2.6.0 or some lower but newer version to bring bugfixes and new features to ODN users.

[2016-11-28 15:22] hanecak commented on #252
This proves quite difficult. So, for now we're upgrading CKAN to 2.3.5 (updated scope of this issue).

Further update planned to 2.6.0, see #276.

[2016-11-28 15:39] hanecak commented on #252
Update of CKAN to 2.3.5 finished by https://github.com/OpenDataNode/odn-ckan/commit/fda93a1b48860c999d993fc6ff96f5cfbcebd393 .

[2016-11-30 10:58] hanecak commented on #275
Fixed in ODN 1.6.1 .

[2016-11-30 10:58] #275 closed, assigned to hanecak

[2016-11-30 10:58] hanecak commented on #252
Update shipped in ODN 1.6.1 .

[2016-11-30 10:58] #252 closed

[2017-02-10 16:29] hanecak opened #277 "update ODN/CAS from 4.1.0 to currently latest 4.1.10"
see:
- https://github.com/OpenDataNode/odn-cas/releases/tag/ODN_v1.1.3
- https://github.com/OpenDataNode/odn-cas/pull/11

[2017-02-16 15:42] hanecak opened #278 "ODN/CAS, ODN/midPoint and ODN/SOLR: logrotate only catalina.out"
Logrotate should be used only for catalina.out, other log files are rotated thanks to slf4j.

Note: Logrotate settings were added as part of #257.

[2017-02-16 15:43] hanecak commented on #278
Fix for ODN/SOLR in https://github.com/OpenDataNode/odn-solr/commit/c6c660dee60f63cf6688a4a820e8c39617dcb58b .

[2017-02-16 15:45] hanecak commented on #278
Fix for ODN/CAS in https://github.com/OpenDataNode/odn-cas/pull/13 .

[2017-02-16 15:48] hanecak commented on #278
Fix for ODN/midPoint in https://github.com/OpenDataNode/odn-midpoint/pull/1 .

[2017-02-20 16:42] hanecak opened #279 "update SOLR from 4.10.2 to 4.10.4"
see https://github.com/OpenDataNode/odn-solr/pull/1

This is a stepping stone towards #254 (and beyond).

[2017-02-21 11:10] hanecak commented on #279
This also depends on https://github.com/OpenDataNode/odn-box/pull/48 .

[2017-02-24 10:10] #279 closed, assigned to hanecak